.page-container {
    width: 100vw;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.inner-container {
    width: 900px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.top-wrap h1 {
    color: #000;
    font-weight: bold;
    margin-bottom: 2.5rem;
}

.toolbar-wrap {
    display: flex;
    margin-bottom: 2.5rem;
}

.toolbar-btn {
    margin-right: 2.5rem;
    border: none;
    background-color: #fff;
    color: #000;
}

.account-btn {
    color: #000;
    font-weight: bold;
    border-bottom: solid 2px #444;
}

.toolbar-btn:hover {
    color: #000;
    font-weight: bold;
}

.profile-wrap {
    background-color: #999999;
    display: flex;
    height: 180px;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 2rem;
}

.profile-wrap img {
    width: 90px;
    height: 90px;
    margin-left: 3rem;
}

.profile-detail {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}

.profile-username {
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.profile-email {
    color: grey;
}

.logout-btn-a {
    margin: auto 3rem auto auto;
}

.logout-btn {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 9px 18px;
    border: 1px solid #999999;
    border-radius: 5px;
    background-color: #999999;
}

.logout-btn:hover {
    background-color: #3D499C;
}

.withdraw-wrap {
    border-radius: 5px;
    background-color: #949DD7;
    display: flex;
    height: 180px;
    align-items: center;
}

.withdraw-discription {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.withdraw-discription h1 {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.withdraw-discription .withdraw-detail {
    font-size: 14px;
    color: #000;
}

.withdraw-btn-a {
    margin: auto 3rem auto auto;
}

.withdraw-btn {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 9px 25px;
    border: none;
    background-color: rgb(221, 47, 47);
}

.withdraw-btn:hover {
    background-color: rgb(237, 81, 81);
}