body,
h1,
p,
ul {
    margin: 0;
    padding: 0;
}

.content {
    margin-left: 15%;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.centered-content {
    width: 100%;
    height: auto;
}