*{
    list-style: none;
    text-decoration: none;
}

*:focus {
    outline: none;
}

/* Reset some default styles */
body,
h1,
p,
ul {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    height: 100%;
}

.main {
    margin-left: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #fff;
}

.main-nav ul {
    list-style-type: none;
    padding: 0;
    background-color: white;
    color: #0747A6FF;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}

.main-nav ul li {
    margin-right: 80px;
    border-bottom: 3px solid #0747A6FF;
}

.main-nav a {
    text-decoration: none;
    color: #0747A6FF;
    /* Change link text color to blue */
    font-weight: bold;
    font-size: 18px;
    /* Increase the text size */
}

.main-nav ul li :hover {
    border-bottom: 4px solid #48a1ff;
    color: #48a1ff;
}

.document-list {
    width: 90%;
}

.document-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: 50px;
}

.document-list-title {
    font-size: 28px;
}

.document-list-header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* select box */
.brd {
    border: 1px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

#document-list-select {
    position: relative;
    width: 200px;
    height: 42px;
    z-index: 1;
    margin-right: 30px;
}

#select-button {
    position: relative;
    height: 16px;
    padding: 12px 14px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

#options-view-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

#selected-value {
    font-size: 16px;
    line-height: 1;
    margin-right: 26px;
}

.option i {
    width: 16px;
    height: 16px;
}

.option,
.label {
    color: #2d3667;
    font-size: 16px;
}

#chevrons {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 12px;
    padding: 9px 14px;
}

#chevrons i {
    display: block;
    height: 50%;
    color: #d1dede;
    font-size: 12px;
    text-align: right;
}

#options-view-button:checked+#select-button #chevrons i {
    color: #2d3667;
}

.options {
    position: absolute;
    left: 0;
    width: 250px;
}

#options {
    position: absolute;
    top: 42px;
    right: 0;
    left: 0;
    width: 198px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
}

#options-view-button:checked~#options {
    border: 1px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

.option {
    position: relative;
    line-height: 1;
    transition: 0.3s ease all;
    z-index: 2;
}

.option i {
    position: absolute;
    left: 14px;
    padding: 0;
    display: none;
}

#options-view-button:checked~#options .option i {
    display: block;
    padding: 12px 0;
}

.label {
    display: none;
    padding: 0;
    margin-left: 27px;
}

#options-view-button:checked~#options .label {
    display: block;
    padding: 12px 14px;
}

.s-c {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
}

.s-c.top {
    top: 0;
}

.s-c.bottom {
    bottom: 0;
}

input[type="radio"] {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 50%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

.s-c:hover~i {
    color: #fff;
    opacity: 0;
}

.s-c:hover {
    height: 100%;
    z-index: 1;
}

.s-c.bottom:hover+i {
    bottom: -25px;
    animation: moveup 0.3s ease 0.1s forwards;
}

.s-c.top:hover~i {
    top: -25px;
    animation: movedown 0.3s ease 0.1s forwards;
}

@keyframes moveup {
    0% {
        bottom: -25px;
        opacity: 0;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes movedown {
    0% {
        top: -25px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

.label {
    transition: 0.3s ease all;
}

.opt-val {
    position: absolute;
    left: 14px;
    width: 217px;
    height: 21px;
    opacity: 0;
    background-color: #fff;
    transform: scale(0);
}

.option input[type="radio"]:checked~.opt-val {
    opacity: 1;
    transform: scale(1);
}

.option input[type="radio"]:checked~i {
    top: 0;
    bottom: auto;
    opacity: 1;
    animation: unset;
}

.option input[type="radio"]:checked~i,
.option input[type="radio"]:checked~.label {
    color: #fff;
}

.option input[type="radio"]:checked~.label:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#options-view-button:not(:checked)~#options .option input[type="radio"]:checked~.opt-val {
    top: -30px;
}

.option:nth-child(1) input[type="radio"]:checked~.label:before {
    background-color: #1F254F;
    border-radius: 4px 4px 0 0;
}

.option:nth-child(1) input[type="radio"]:checked~.opt-val {
    top: -31px;
}

.option:nth-child(2) input[type="radio"]:checked~.label:before {
    background-color: #3D499C;
}

.option:nth-child(2) input[type="radio"]:checked~.opt-val {
    top: -71px;
}

.option .fa-users {
    color: #1F254F;
}

.option .fa-user {
    color: #3D499C;
}

#option-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    transition: 0.3s ease all;
    z-index: 1;
    display: none;
}

#options-view-button:checked~#options #option-bg {
    display: block;
}

.option:hover .label {
    color: #fff;
}

.option:nth-child(1):hover~#option-bg {
    top: 0;
    background-color: #1F254F;
    border-radius: 4px 4px 0 0;
}

.option:nth-child(2):hover~#option-bg {
    top: 40px;
    background-color: #3D499C;
}

/* document-list */
/** RESET **/

.document-list-content {
    box-sizing: border-box;
    margin-top: 30px;
}

ul {
    list-style: inside;
    box-sizing: border-box;
}

.accordian {
    list-style: none;
    margin: 0 0 40px;
    padding: 0;
    border: 1px solid #ddd;
    border-top: 0;
}

.accordian header {
    display: block;
    margin: 0;
    padding: 1em;
    background: #1F254F;
    border-top: 1px solid #ddd;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    align-items: center;
}


.accordian section {
    display: none;
    justify-content: space-between;
    padding: 1em;
    background: #fff;
    border-top: 1px solid #ddd;
}

.accordian section.active {
    display: flex;
}

.document-detail {
    display: flex;
    justify-content: space-between;
}

.document-detail-info {
    display: flex;
    flex-direction: row;
    height: 2rem;
    margin: 0;
    padding: 0;
}

.detail-item {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    align-items: center;
}

.document-detail-info a {
    margin-left: 10px;
    text-decoration: none;
    font-size: 12px;
    color: #000;
}

.document-detail-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizon-divider {
    background-color: #333;
    width: 100%;
    height: 2px;
}

/* Button css */
.document-create-btn {
    width: 10rem;
    height: 39px;
    font-size: 17px;
    font-weight: bold;
    padding: 1px 16px;
    background-color: white;
    color: black;
    border: 1.5px solid #333;
    border-radius: 4px;
    text-transform: uppercase;
    transition: all 0.4s;
}

.document-create-btn:hover {
    border: #fff;
    background-color: #1F254F;
    color: white;
}

.document-view-btn {
    width: 70px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    padding: 1px 16px;
    background-color: #51556e;
    color: #fff;
    border: #fff;
    border-radius: 2px;
    text-transform: uppercase;
    transition: all 0.4s;
    float: right;
}

.document-view-btn:hover {
    background-color: #373A4F;
}

.document-delete-btn {
    width: 70px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    padding: 1px 16px;
    background-color: rgb(255, 79, 79);
    color: #fff;
    border: #fff;
    border-radius: 2px;
    text-transform: uppercase;
    transition: all 0.4s;
}

.document-delete-btn:hover {
    background-color: rgb(255, 11, 11);
}

.document-edit-btn {
    width: 70px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    padding: 1px 16px;
    background-color: #48a1ff;
    color: #fff;
    border: #fff;
    border-radius: 2px;
    text-transform: uppercase;
    transition: all 0.4s;
    margin-right: 1rem;
}

.document-edit-btn:hover {
    background-color: #1768ff;
}

