body {
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}


.write {
    background-color: #fff;
    color: #222;
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 50px;
}

.detail {
    background-color: #fff;
    color: #222;
    flex: 1;
    height: fit-content;

}

.title {
    background-color: #fff;
    color: #222;
    border: none;
    font-size: 32pt;
    font-weight: bold;
    width: 100%;
}

.title:focus {
    outline: none;
}

hr {
    width: 100%;
    height: 6px;
    margin: 20px auto 20px 0;
    background-color: #999;
    border: none;
}


.toolbar {
    width: auto;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
}

.font-btn {
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    border-radius: 5px;
    min-width: 48px;
    min-height: 100%;
    font-size: 1em;
    border: none;
    outline: none;
}

.font-btn:hover {
    background-color: #E6E6E6;
    color: black;
}

.horizon-line {
    width: 1.5px;
    height: 20px;
    background-color: #222;
}

.content {
    color: #fff;
    min-height: 300px;
}

.content input {
    width: 98%;
    height: 2rem;
    font-size: 18px;
    background-color: #fff;
    border: none;
    padding-left: 15px;
}

.information {
    height: 80%;
}

.footer {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    justify-content: row;
    width: 60%;
    background-color: #fff;
    color: #000;
}

.nav-left {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.nav-left:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#blockP {
    max-width: 100%;
    width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
    caret-color: rgb(0, 0, 0);
    padding: 3px 2px;
    font-size: 18px;
    color: #000;
    caret-color: #222;
    padding-top: 7px;
}

#blockH1 {
    max-width: 100%;
    width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
    caret-color: rgb(0, 0, 0);
    padding: 3px 2px;
    font-size: 32px;
    font-weight: bold;
    color: #000;
    caret-color: #222;
}

#blockH2 {
    max-width: 100%;
    width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
    caret-color: rgb(0, 0, 0);
    padding: 3px 2px;
    font-size: 28px;
    font-weight: bold;
    color: #000;
    caret-color: #222;
}

#blockH3 {
    max-width: 100%;
    width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
    caret-color: rgb(0, 0, 0);
    padding: 3px 2px;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    caret-color: #222;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    color: gray;
}

#blockB {
    max-width: 100%;
    width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
    caret-color: rgb(0, 0, 0);
    padding: 3px 2px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    caret-color: #222;
}

#blockI {
    max-width: 100%;
    width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
    caret-color: rgb(0, 0, 0);
    padding: 3px 2px;
    font-size: 18px;
    font-style: italic;
    color: #000;
    caret-color: #222;
}

#blockImage {
    text-align: center;
}

.block_image {
    max-width: 90%;
}

#blockVideo {
    text-align: center;
}

.block_video {
    max-width: 90%;
}

.move_block {
    padding: 3px;
    margin: 5px;
    display: flex;
}

.move {
    color: #000;
    width: 40px;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
    font-family: Arial;
    cursor: grab;
    opacity: 0;
    font-size: 40px;
}

.move:hover {
    transition: 0.7s ease-out;
    opacity: 1;
}

.move_block:hover>.move {
    transition: 0.7s ease-out;
    opacity: 1;
}

/* 컨텍스트 메뉴 */
.custom-context-menu {
    position: absolute;
    box-sizing: border-box;

    min-height: 100px;
    min-width: 150px;

    background-color: #333;
    box-shadow: 0 0 1px 2px black;

}

.custom-context-menu ul {
    list-style: none;
    padding: 0;
    background-color: transparent;
}

.custom-context-menu li {
    padding: 3px 5px;
    cursor: pointer;
    color: #fff;
    list-style: none;
}

.custom-context-menu li:hover {
    background-color: #e2e2e26c;
}

.icon-img {
    height: 20%;
    width: 20%;
}

/* floating menu */
.floating-menu {
    position: fixed;
    left: 91.5%;
    top: 85%;
}

.btn1.is-primary1 {
    width: 70px;
    height: 70px;
    z-index: 2;
    border: 0;
    font-size: 20px;
    color: #FFF;
    background: #c3cff4;
    opacity: 1;
}

.btn1.is-primary1:hover {
    background: rgb(159, 181, 229);
}

.btn1.is-primary1.is-activate {
    box-shadow: 0 0 0;
    transform: translateY(3px);
}

.btn1 span {
    display: block;
    width: 20px;
    height: 20px;
    transition: all .275s;
}

.btn1.is-primary1.is-activate span {
    transform: rotate(1turn);
}

.is-floating1 {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 60px;
    height: 60px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    line-height: .8;
    background: #FFF;
    border-radius: 50%;
    box-shadow: 0 10px 10px -7px rgba(153, 153, 153, .35);
    cursor: pointer;
    transition: all .275s;
    border: 1px solid #eee;
    opacity: 0;
}

.is-floating1:hover {
    background: #F2F2F2;
}

.is-activate~.is-floating1 {
    opacity: 1;
    transform: translateX(-125%) translateY(-210%);
}

.is-activate~.is-floating1:nth-of-type(2) {
    opacity: 1;
    transform: translateX(-125%) translateY(-100%);
}

.is-activate~.is-floating1:nth-of-type(3) {
    opacity: 1;
    transform: translateX(-125%) translateY(10%);
}

.documentWrite-main-nav {
    position: relative;
    background-color: #f3f6fd;
    color: #000;
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    height: 50px;
}

.documentWrite-main-nav button {
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: bolder;
    color: #000;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.documentWrite-main-nav button:hover {
    background-color: #f3f6fd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.documentWrite-main-nav button:hover #back-button-hover {
    opacity: 1;
}

.documentWrite-main-nav button:hover #back-button {
    opacity: 0;
}

#documentWrite-back-button-hover {
    opacity: 0;
    transition: 0.5s;
}

.documentWrite-main-nav h1 {
    font-size: 24px;
}

.documentWrite-title {
    margin-left: 1rem;
}

.documentWrite-subtitle {
    margin-left: 1rem;
}

.documentWrite-mid {
    font-size: 20px;
    margin-left: 1rem;
    color: #818181;
}