/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
}

.main-nav {
    background-color: #555;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 48px;
    border-bottom: 4px solid #ddd;
}

.main-nav button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    transition: 2s;
}

.main-nav button:hover #back-button-hover {
    opacity: 1;
}

.main-nav button:hover #back-button {
    opacity: 0;
}

.back-button {
    width: 38px;
    height: 38px;
    position: absolute;
    top: 15px;
    left: 15px;
}

#back-button {
    transition: 0.5s;
}

#back-button-hover {
    opacity: 0;
    transition: 0.5s;
}

.title {
    margin-left: 2rem;
}

.subtitle {
    margin-left: 1rem;
    margin-top: 0.3rem;
    vertical-align: text-bottom;
    color: rgb(150, 150, 150);
}

.content-container {
    height: 100%;
}

/* content slide */

.main-content {
    margin-top: 20px;
    margin-bottom: 100px;
    width: 100%;
}

.slider {
    margin: 0 auto;
    max-width: 60%;
    height: 900px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* .slide_viewer {
    height: 340px;
    overflow: hidden;
    position: relative;
} */

.slide_group {
    height: 100%;
    position: relative;
    width: 100%;
}

.slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}

.slide:first-child {
    display: block;
}

.slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.slide_btn.active,
.slide_btn:hover {
    color: #428CC6;
    cursor: pointer;
}

.directional_nav {
    width: 100%;
    height: 340px;
    margin: 0 auto;
    max-width: 100%;
    position: fixed;
    top: 28%;
}

.previous_btn {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 0;
}

.next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 0;
}

.previous_btn,
.next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
}

.previous_btn:hover,
.next_btn:hover {
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    .previous_btn {
        left: 50px;
    }

    .next_btn {
        right: 50px;
    }
}

/* floating menu */
.floating-menu {
    position: fixed;
    left: 91.5%;
    top: 85%;
}

.btn1.is-primary1 {
    width: 70px;
    height: 70px;
    z-index: 2;
    border: 0;
    font-size: 20px;
    color: #FFF;
    background: #555555;
    opacity: 1;
}

.btn1.is-primary1:hover {
    background: #222222;
}

.btn1.is-primary1.is-activate {
    box-shadow: 0 0 0;
    transform: translateY(3px);
}

.btn1 span {
    display: block;
    width: 20px;
    height: 20px;
    transition: all .275s;
}

.btn1.is-primary1.is-activate span {
    transform: rotate(1turn);
}

.is-floating1 {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 60px;
    height: 60px;
    color: #555555;
    text-decoration: none;
    font-weight: bold;
    line-height: .8;
    background: #FFF;
    border-radius: 50%;
    box-shadow: 0 10px 10px -7px rgba(153, 153, 153, .35);
    cursor: pointer;
    transition: all .275s;
    border: 1px solid #eee;
    opacity: 0;
}

.is-floating1:hover {
    background: #F2F2F2;
}

.is-activate~.is-floating1 {
    opacity: 1;
    transform: translateX(-125%) translateY(-210%);
}

.is-activate~.is-floating1:nth-of-type(2) {
    opacity: 1;
    transform: translateX(-125%) translateY(-100%);
}

.is-activate~.is-floating1:nth-of-type(3) {
    opacity: 1;
    transform: translateX(-125%) translateY(10%);
}



/* Content Template CSS */

.template {
    padding: 10px 10px;
}

.template h1 {
    font-size: 45px;
    text-align: center;
}

.template h2 {
    margin-left: 10%;
    font-size: 30px;
    color: #555;
}

.template h3 {
    font-size: 24px;
    color: #555;
}

.hr-divider {
    width: 90%;
    margin: auto;
    border-radius: 10px;
    height: 9px;
    background-color: #5161CE;
}

/* project-First */

.template-first-projectName {
    font-size: 50px;
    font-weight: 600;
    padding-right: 50px;
    margin-top: 100px;
    color: #000;
    text-align: right;
}

.template-first-main-content {
    margin-top: 20px;
    display: flex;
}

.template-first-main-content-1 {
    flex: 2;
}

.template-first-main-content-2 {
    flex: 10;
    height: 9px;
    background-color: #5161CE;
    border: solid 1px #5161CE;
    border-radius: 10px;
}

.template-first-img {
    margin-top: 50px;
    margin-left: 150px;
}


.template-first-projectMember {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    padding-right: 50px;
    color: #555;
    text-align: right;
}

.template-first-divider {
    border: 3px solid #5161CE;
    border-radius: 10px;
    width: 80%;
    float: right;
    margin: 10px;
}

.template-first-projectDate {
    margin-top: 50px;
    font-size: 35px;
    font-weight: 800;
    padding-right: 50px;
    color: #000;
    text-align: right;
}

/* another content */
.template-bullet-point {
    width: 80%;
    margin: auto;
    border: #5161CE solid 2px;
    border-radius: 10px;
    list-style: none;

}

.first-bullet-ul {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    list-style: none;
}

.second-bullet-ul {
    font-size: 16px;
    font-weight: 400;
}

.document-list-content {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    box-sizing: border-box;
}


.accordian {
    list-style: none;
    margin: 0 0 40px;
    padding: 0;
    box-sizing: border-box;
}

.accordian header {
    display: block;
    margin: 0;
    padding: 1em;
    background: #999999;
    border: 2px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    align-items: center;
}


.accordian section {
    display: none;
    justify-content: space-between;
    padding: 1em;
    background: #fff;
    border-radius: 10px;
    border: 2px solid #ddd;
}

.accordian section.active {
    display: flex;
}

.document-detail {
    display: flex;
    justify-content: space-between;
}

.document-detail-info {
    display: flex;
    flex-direction: row;
    height: 2rem;
    margin: 0;
    padding: 0;
}

.detail-item {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    align-items: center;
}

.document-detail-info a {
    margin-left: 10px;
    text-decoration: none;
    font-size: 12px;
    color: #000;
}

.document-detail-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizon-divider {
    background-color: #333;
    width: 100%;
    height: 2px;
}

.intro-project {
    width: 80%;
    margin-left: 10%;
    padding-bottom: 10px;
    border-bottom: #5161CE solid 2px;

}

.intro-project h2 {
    margin-left: 0;
}

.intro-member {
    width: 80%;
    border-bottom: #5161CE solid 2px;
    margin-left: 10%;
    padding-bottom: 10px;
}

.intro-date {
    width: 80%;
    border-bottom: #5161CE solid 2px;
    margin-left: 10%;
    padding-bottom: 10px;
}

.div-c {
    max-height: 150px;
    overflow: hidden;
}

.intro-member-detail {
    margin-left: 10px;
    display: flex;
    max-height: 150px;
}

.intro-member-name {
    flex: 2;
    text-align: left;
}

.intro-member-role {
    text-align: left;
    flex: 10;
}

/* Button css */
.document-create-btn {
    width: 10rem;
    height: 39px;
    font-size: 17px;
    font-weight: bold;
    padding: 1px 16px;
    background-color: #5161CE;
    color: white;
    border: 1.5px solid #5161CE;
    border-radius: 10px;
    text-transform: uppercase;
    transition: all 0.4s;
}

.document-create-btn:hover {
    border: #fff;
    background-color: #1F254F;
    color: white;
}

.document-view-btn {
    width: 70px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    padding: 1px 16px;
    background-color: #51556e;
    color: #fff;
    border: #fff;
    border-radius: 10px;
    text-transform: uppercase;
    transition: all 0.4s;
    float: right;
}

.document-view-btn:hover {
    background-color: #373A4F;
}

.document-delete-btn {
    width: 70px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    padding: 1px 16px;
    background-color: rgb(255, 79, 79);
    color: #fff;
    border: #fff;
    border-radius: 10px;
    text-transform: uppercase;
    transition: all 0.4s;
}

.document-delete-btn:hover {
    background-color: rgb(255, 11, 11);
}

.document-edit-btn {
    width: 70px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    padding: 1px 16px;
    background-color: #48a1ff;
    color: #fff;
    border: #fff;
    border-radius: 10px;
    text-transform: uppercase;
    transition: all 0.4s;
    margin-right: 1rem;
}

.document-edit-btn:hover {
    background-color: #1768ff;
}