/*  마진 순서 : 상우좌하
    다중 커서 : Alt + 드래그나 클릭
    코드 정렬 : Alt + Shift + F
    border 순서 : 픽셀, 스타일, 색깔 
     */



     body {
        background-color: #333;
    }
    
    hr {
        background: white;
    }
    
    .hr {
            padding-top: 10em;
            width: 100%;
        }

        .container {
            display: flex;
            flex-direction: column;
            width: 70%;
            justify-content: center;
            align-items: center;
        }

        .back-button {
            background-color: #333;
            color: #fff;
            border: none;
            cursor: pointer;
            display: inline-block;
            text-decoration: none;
            border-radius: 5px;
            font-size: 40px;
            margin-right: 2rem;
            transition: 0.5s;
        }

        .title {
            color: white;
            display: inline-block;
            text-align: center;
        }
    
    .middle-box {
        width: 100%;
        height: auto;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    
    .board_list {
        width: 100%;
    }
    
    .board_list td {
        color: white;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 30%;
        font-size: 20px;
        text-align: center;
        border-bottom: solid 2px #444;
    }
    
    .revert-button {
        display: inline-block;
        padding: 10px 30px;
        background-color: #ccc;
        border: none;
        color: #000;
        text-decoration: none;
        border-radius: 10px;
        font-size: 16px;
    }
    
    .revert-button:hover {
        background-color: #aaa;
    }