.content {
    margin-left: 180px;

}

.title {
    margin: 30px 40px;
    font-weight: bold;
}

.gantt {
    display: flex;
    justify-content: center;
    align-items: center;
}

#chart_div {
    width: 98%;
    height: 1200px;
}