/* Reset some default styles */
body,
h1,
p,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Global styles */
body {
    background-color: #fff;
    font-family: Arial, sans-serif;
}


.content {
    margin-left: 200px;
}

.table-head-list {
    display: flex;
    margin: auto;
    width: 98%;
}

.table-h2 {
    text-align: left;
    flex: 12;
    width: 80%;
    box-sizing: border-box;
}

.button-section {
    flex: 2;
    margin: auto;
}

.createbutton {
    width: 70%;
    text-decoration: none;
    font-weight: bold;
    height: 50px;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 15px;    color: #000000;
    border: 1.5px solid #555555;
    background-color: #FFFFFF;
}

.createbutton:hover {
    color: #FFFFFF;
    border: 1.5px solid #777777;
    background-color: #777777;
}

table {
    border-top: 2px #555555 solid;
    width: 95%;
    border-collapse: collapse;
    overflow: hidden;
}

th {
    font-size: 18px;
    padding: 1em 1.5em;
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
    color: #000;

}

.table-name {
    width: 40%;
}

td {
    text-align: left;
    padding: 1em 2em;
    vertical-align: middle;
    border-top: 2px #555555 solid;
    border-bottom: 2px #555555 solid;
    font-size: 16px;
    transition: 0.5s;
}

td:hover {
    color: #fff;
    background-color: #777777;
}

td a {
    color: #000;
    display: block;
    width: 100%;
    font-size: 16px;
    height: 100%
}

td a:hover {
    color: #fff;
}

.completion-0 {
    color: #5ea2ec;
}

.completion-1 {
    color: #66c43c;
}

.completion-2 {
    color: #ff7b26;
}

.completion-3 {
    color: #f11414;
}