@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

/* Reset some default styles */

a {
    text-decoration: none;
}

/* Global styles */
body {
    background-color: #f3f6fd;
    font-family: Arial, sans-serif;
}


.content {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0px 10px 10px 10px;
    background-color: #fff;
    margin-left: 150px;
    width: auto;
}

.centered-content {
    background-color: #fff;
    margin: auto;
    width: 95%;
    min-height: 640px;
    overflow: hidden;

}

.table-head-list {
    display: flex;
    margin: auto;
    margin-left: 10px;
    margin-right: 16px;
    margin-top: 15px;
    width: auto;
}

hr {
    margin-left: 11px;
    margin-right: 18px;

}

.table-h2 {
    text-align: left;
    flex: 14;
    width: 100%;
    box-sizing: border-box;
}

.button-section {
    flex: 2;
    margin: auto;
}

.createbutton {
    vertical-align: right;
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    height: 40px;
    font-size: 16px;
    color: #fff;
    border-radius: 20px;
    border: 1.5px solid #6675e3;
    background-color: #6675e3;
}

.createbutton:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #6675e3;
}

.toggler {
    color: #A1A1A4;
    font-size: 1.25em;
    margin-left: 8px;
    text-align: center;
    cursor: pointer;
}

.toggler.active {
    color: #000;
}

.grid-section {
    width: 100%;
    margin-top: 20px;
}

.surveys {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.survey-item {
    display: block;
    margin-top: 10px;
    padding: 20px;
    border-radius: 2px;
    background: white;
    border-radius: 10px;
    transition: all 1s;

}

.survey-item:hover {
    transition: 0.5s ease-in;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
}

.survey-item :not(:hover) {
    transition: 0.5s ease-out;
}

.survey-name {
    font-weight: bold;
}

.list .survey-item {
    position: relative;
    padding: 0;
    font-size: 14px;
    line-height: 40px;
}

.list .survey-item .pull-right {
    position: absolute;
    right: 0;
    top: 0;
}

@media screen and (max-width: 1200px) {
    .list .survey-item .stage:not(.active) {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .list .survey-item .survey-progress-bg {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .list .survey-item .pull-right {
        position: static;
        line-height: 20px;
        padding-bottom: 10px;
    }
}

.list .survey-country,
.list .survey-progress,
.list .survey-completes,
.list .survey-end-date {
    color: #A1A1A4;
}

.list .survey-country,
.list .survey-completes,
.list .survey-end-date,
.list .survey-name,
.list .survey-stage {
    margin: 0 10px;
}

.list .survey-country {
    margin-right: 0;
}

.list .survey-end-date,
.list .survey-completes,
.list .survey-country,
.list .survey-name {
    vertical-align: middle;
}

.list .survey-end-date {
    display: inline-block;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
}

.survey-stage .stage {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    overflow: hidden;
    border-radius: 50%;
    padding: 0;
    margin: 0 2px;
    background: #f2f2f2;
    text-indent: -9999px;
    color: transparent;
    line-height: 16px;
}

.survey-stage .stage.active {
    background: #8972f3;
}

.survey-stage .stage.complete {
    background: #58c2a9;
}

.survey-stage .stage.wait {
    background: #a0a6b5;
}

.survey-stage .stage.late {
    background: #e77f89;
}

.list .list-only {
    display: auto;
}

.list .grid-only {
    display: none !important;
}

.grid .grid-only {
    display: auto;
}

.grid .list-only {
    display: none !important;
}

.grid .survey-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 200px;
    width: 280px;
    margin: 10px;
    border: #e0d7d7 solid 1px;
    transition: all 1s;
}

@media screen and (max-width: 600px) {
    .grid .survey-item {
        display: block;
        width: auto;
        height: 150px;
        margin: 10px auto;
    }
}

.grid .survey-name {
    display: block;
    max-width: 80%;
    font-size: 22px;
    line-height: 20px;
}

.grid .survey-country {
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
}

.grid .survey-country,
.grid .survey-end-date {
    font-size: 16px;
    color: #A1A1A4;
}

.grid .survey-end-date:before {
    margin-top: 5px;
    content: "마감일자 : ";
}

.grid .survey-end-date.ended:before {
    margin-top: 5px;
    content: "마감일자 : ";
}

.grid .survey-progress {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px;
    border-top: 1px solid #eee;
    font-size: 13px;
}

.grid .survey-progress-bg {
    width: 40%;
    display: block;
}

@media screen and (max-width: 200px) {
    .grid .survey-progress-bg {
        display: none;
    }
}

.grid .survey-progress-labels {
    position: absolute;
    right: 20px;
    top: 0;
    line-height: 40px;
}

@media screen and (max-width: 200px) {
    .grid .survey-progress-labels {
        right: auto;
        left: 10px;
    }
}

.grid .survey-progress-label {
    line-height: 21px;
    font-size: 16px;
    font-weight: 400;
}

.grid .survey-completes {
    line-height: 21px;
    font-size: 16px;
    vertical-align: middle;
}

.grid .survey-stage {
    position: absolute;
    top: 20px;
    right: 20px;
}

.grid .survey-stage .stage {
    display: none;
}

.grid .survey-stage .active {
    display: block;
}

.grid .survey-stage .complete {
    display: block;
}

.grid .survey-stage .wait {
    display: block;
}

.grid .survey-stage .late {
    display: block;
}

.grid .survey-end-date {
    font-size: 12px;
    line-height: 20px;
}

.survey-progress-label {
    vertical-align: middle;
    margin: 0 10px;
    color: #8DC63F;
}

.survey-progress-bg {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100px;
    height: 4px;
    border-radius: 2px;
    overflow: hidden;
    background: #eee;
}

.survey-progress-fg {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    background: #8DC63F;
}

:root {
    --tag-color-one: #e0fbf6;
    --tag-color-text-one: #58c2a9;
    --tag-color-two: #ece7fe;
    --tag-color-text-two: #8972f3;
    --tag-color-three: #fde7ea;
    --tag-color-text-three: #e77f89;
    --tag-color-four: #f7f8fc;
    --tag-color-text-four: #a0a6b5;
}


.page-content {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px 20px 0 20px;
    border: #ddd 1px solid;
    border-radius: 10px;
    margin-top: 10px;

    .header {
        font-size: 20px;
    }
}

.task-wrap {
    margin-top: 20px;
}

.task {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 40px;
    color: var(--task-color);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        transform: translatex(10px);
    }

    label {
        cursor: pointer;
    }
}
.task a{
    vertical-align: center;
}

.label-text {
    vertical-align: middle;
}

.tag {
    font-size: 16px;
    padding: 10px;
    border-radius: 15px;
    width: 50px;

    &.approved {
        text-align: center;
        background-color: var(--tag-color-one);
        color: var(--tag-color-text-one);
    }

    &.progress {
        background-color: var(--tag-color-two);
        color: var(--tag-color-text-two);
    }

    &.review {
        background-color: var(--tag-color-three);
        color: var(--tag-color-text-three);
    }

    &.waiting {
        background-color: var(--tag-color-four);
        color: var(--tag-color-text-four);
    }
}

.upcoming {
    padding-bottom: 10px;
    padding-left: 20px;
    color: #000;
    font-weight: bold;
}



@media screen and (max-width: 520px) {
    .page-content {
        padding: 40px 10px 0 10px;
    }

    .right-content {
        padding: 10px 16px;
    }

    .category {
        padding: 20px;
    }
}