/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #222;
    color: #fff;
}

a {
    text-decoration-line: none;
    color: white;
}

.top-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 90px;
    border-bottom: solid 0.8px #333;
    position: fixed;
    top: 0;
    left: 200px;
    background-color: #222;
}

.top-bar h1 {
    font-size: 40px;
    font-weight: bold;
    margin-left: 4rem;
}

.top-bar a {
    margin-left: auto;
}

.add-high-goal-btn {
    font-size: 18px;
    background-color: #333;
    width: 180px;
    height: 60px;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    margin-right: 2rem;
}

.add-high-goal-btn:hover {
    background-color: #ddd;
    color: #333;
    font-weight: bold;
}

.add-goal-btn {
    font-size: 18px;
    background-color: #333;
    width: 180px;
    height: 60px;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    margin-right: 15rem;
}

.add-goal-btn:hover {
    background-color: #ddd;
    color: #333;
    font-weight: bold;
}

.content-container {
    justify-content: center;
    margin-left: 200px;
}

.content {
    padding: 100px;
    width: 80%;
    justify-content: center;
    flex-direction: inherit;
}


.goal-container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
}

.goal-container > h1 {
    text-align: center;
    font-size: 32px;
}

.board {
    display: flex;
}

.column {
    background: #333333;
    flex: 1;
    margin-right: 20px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.column > h2 {
    text-align: center;
    margin-top: 0;
    font-size: 34px;
}

.user-story {
    height: auto;
    background-color: #444444;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.user-story span {
    display: block;
}

.status {
    font-size: 14px;
    border-radius: 4px;
    color: #fff;
    margin: auto;
}

.sortable {
    min-height: 60px;
}

.inline-content {
    display: flex;

}
