body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 80%;
    margin-top: 20px;
    margin-left: 200px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
}

.left-pane {
    flex: 80%;
    padding: 20px;
    box-sizing: border-box;
}

.right-pane {
    flex: 20%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    position: sticky;
    top: 0;
}

.post-title {
    font-size: 24px;
}

.post-content {
    font-size: 18px;
    line-height: 1.5;
}

.date-info {
    font-weight: bold;
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: 20px;
}

.edit-button,
.delete-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #949DD7;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
}

.edit-button:hover,
.delete-button:hover {
    background-color: #727fcf;
}

.related-tasks {
    margin-top: 20px;
}

.related-tasks h2 {
    font-size: 20px;
}

.task-list {
    list-style: none;
    padding: 0;
}

.task-list>li {
    font-size: 16px;
    margin-bottom: 5px;
    padding: 5px;
}

.task-list a {
    text-decoration: none;
    color: #1F254F;
    font-weight: bold;
    display: block;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.3s;
}

.task-list a:hover {
    text-decoration: none;
    color: #0056b3;
    background-color: #f0f0f0;
}

.comment-section {
    margin-top: 20px;
}


.comment-body {
    display: flex;
}


.comment-input {
    width: 70%;
    height: 100%;
    border: none;
    font-size: 1em;
    padding-left: 5px;
    font-style: oblique;
    background-color: rgb(233, 233, 233);
    display: inline;
    outline: none;
    box-sizing: border-box;
    color: black;
}

input[type="text"] {
    width: 70%;
    height: 100%;
    background-color: rgb(233, 233, 233);
    font-size: 1em;
    padding-left: 5px;
    height: 50px;
    display: inline;
    outline: none;
    box-sizing: border-box;
    border: #222 solid 1px;
    color: black;

}

input[type=button] {
    border: #222 solid 1px;
    width: 30%;
    height: 50px;
    background-color: rgb(233, 233, 233);
    font-size: 1em;
    color: #042AaC;
    outline: none;
    display: inline;
    margin-left: -10px;
    box-sizing: border-box;
}

input[type=button]:hover {
    background-color: lightgray;
}