body {
    background-color: #f3f6fd;
    color: #000;
    font-size: 18px;
    font-family: "Noto Sans KR", sans-serif;
}

a {
    text-decoration: none !important;
}

h1 {
    color: #000;
    font-size: 48px;
    padding-left: 160px;
}

.container {
    width: 50%;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 0 auto;
}

.head-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.back-button {
    margin-left: 20px;
    background-color: #FFFFFF;
    color: #6675e3;
    border: 2px solid #6675e3;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 30px;
    margin-right: 3rem;
    transition: 0.5s;
}

.back-button:hover,
.back-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #6675e3;
    color: #6675e3;
}
.form-section{
    padding: 20px;
}

.create-goal {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 1px;
    margin-bottom: 2rem;
}

.label-detail {
    box-sizing: border-box;
    display: inline-flex;
    flex: 0 0 auto;
    margin-bottom: 10px;
}

.label {
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    display: flex;
    font-weight: bold;
}

.essential {
    padding-left: 5px;
    color: rgb(160, 60, 60);
}

.input-detail {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-width: 1px;
}

.input-box {
    height: 36px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    background-color: #fff;
    box-sizing: border-box;
    border: 2px solid #999;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    padding: 0 12px;
}

.input-box:focus {
    border: 2px solid #000;
    outline: none;
}

.detail-input-box {
    font-family: "Noto Sans KR", sans-serif;
    height: 42px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    background-color: #fff;
    border: 2px solid #999;
    border-radius: 4px;
    padding: 12px 12px;
    color: #000;
    resize: none;
}

.detail-input-box:focus {
    border: 2px solid #000;
    border-radius: 4px;
    background-color: #fff;
    outline: none;
}

.search-input-detail {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    min-width: 1px;
}

.search-input-box {
    width: 80%;
    height: 36px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    background-color: #fff;
    border: 2px solid #555555;
    border-radius: 4px;
    padding: 12px 12px;
    color: #000;
}

.search-input-box:focus {
    background-color: #fff;
    border: 2px solid #999999;
    border-radius: 4px;
    outline: none;
}

.button-form {
    width: 15%;
    border: none;
    border-radius: 5px;
    background-color: rgb(233, 233, 233);
    margin-left: auto;
    color: #000;
}

.button-form:hover {
    background-color: #555;
}

.horizon-divider {
    background-color: #c3cff4;
    height: 3px;
    margin: 35px 0 25px 0;
}

.footer {
    display: flex;
    flex-direction: row-reverse;
}

.footer-btn {
    text-decoration: none;
    width: 15%;
    text-align: center;
    background: #6675e3;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    border: 0 none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

.footer-btn:hover,
.footer-btn:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #6675e3;
}

.footer-btn2 {
    text-decoration: none;
    width: 15%;
    text-align: center;
    background: #C5C5F1;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    border: 0 none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

.footer-btn2:hover,
.footer-btn2:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;

}


select {
    outline: none;
    box-shadow: none;
    flex: 1;
    padding: 0 1em;
    background-color: #fff;
    border: 2px solid #5161CE;
    border-radius: 4px;
    cursor: pointer;
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    height: 3em;
    background-color: #fff;
    border: 2px solid #5161CE;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;

}

/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: rgb(233, 233, 233);
    transition: .25s all ease;
    pointer-events: none;
}

.horizon-divider {
    background-color: #555555;
    height: 0.5px;
    margin: 10px 0 30px 0;
}

.search-input-detail > ul,
li {
    list-style: none;
    font-size: 15px;
    font-weight: 500;

}


/* checkbox */

.inbox {
    background: white;
    border-radius: 5px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.item {
    display: flex;
    align-items: center;
    border: 1px solid #F1F1F1;
}

.item:last-child {
    border-bottom: 0;
}

.info {
    margin: 20px;
}

input:checked + p {
    background: #ff6a6a;
    text-decoration: line-through;
}

input[type="checkbox"] {
    margin: 20px;
    accent-color: red;
}

.change input:checked {
    accent-color: red;
}

p {
    margin: 0;
    padding: 20px;
    transition: 0.2s;
    flex: 1;
    font-family: 'helvetica neue';
    font-size: 14px;
    border-left: 1px solid #ff6a6a;
}

.explain {
    font-size: 16px;
    border-left: none;
}