/* Reset some default styles */
body,
h1,
p,
ul {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    background-color: #fff;
    font-family: Arial, sans-serif;
}


.content {
    margin-left: 200px;
}

.table-head-list {
    display: flex;
    margin: auto;
    width: 90%;
}

.table-h2 {
    flex: 6;
    margin-left: 2%;
    width: 80%;
    box-sizing: border-box;
}

.button-section {
    flex: 2;
    margin: auto;
}

.createbutton {
    width: 40%;
    float: right;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    height: 50px;
    margin: auto;
    background-color: #949DD7;
    border-radius: 10px;
    border: none;
}

.createbutton:hover {
    background-color: #727fcf;
}

table {
    border-top: 2px #d4d4d4 solid;
    width: 95%;
    border-collapse: collapse;
    overflow: hidden;
}

th {
    text-align: center;
    font-size: 15px;
    text-align: center;
    padding: 1em 1.5em;
    vertical-align: middle;
}

.table-name {
    width: 80%;
}


thead {
    font-weight: bold;
    color: #000;
}

td {
    padding: 1em 1.5em;
    vertical-align: middle;
    border-top: 1px #d4d4d4 solid;
    border-bottom: 1px #d4d4d4 solid;
    font-size: 12px;
    transition: 0.5s;
    text-align: center;
}

td:hover {
    background-color: #a2cfff;
}

td a {
    display: block;
    width: 100%;
    height: 100%
}