a {
    text-decoration: none !important;
}

image {
    object-fit: cover;
}

body {
    background-color: #fff;
}

.container {
    width: 80%;
}

.board {
    max-width: 1280px;
    margin: 40px auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 40px;
    text-decoration: none;
}

.top-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin: 40px auto 20px auto;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 50px;
}

.project-select {
    display: flex;
    flex-direction: row;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-right: 4rem;
    transition: all 0.5s;
}

.project-select:hover {
    color: grey;
}

.head-img img {
    width: 20px;
    height: 20px;
    margin-left: 0.5rem;
    margin-bottom: 0.2rem;
}

#trend-button:focus {
    outline: none;
}

.write-button {
    width: 10rem;
    height: 38px;
    font-size: 17px;
    font-weight: bold;
    padding: 1px 16px;
    background-color: #C5C5F1;
    color: #fff;
    border: 1.5px solid #C5C5F1;
    border-radius: 20px;
    text-transform: uppercase;
    transition: all 0.4s;
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

.write-button:focus,
.write-button:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

.write-button2 {
    width: 10rem;
    height: 38px;
    font-size: 17px;
    font-weight: bold;
    padding: 1px 16px;
    background-color: #6675e3;
    color: #fff;
    border: 1.5px solid #6675e3;
    border-radius: 20px;
    text-transform: uppercase;
    transition: all 0.4s;
}

.write-button2:focus,
.write-button2:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #6675e3;
}

table {
    border-bottom: 1px #333 solid;
    ;
    font-size: .9em;
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
}

th {
    text-align: left;
    padding: 1em 1.5em;
    vertical-align: middle;
}

thead {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

td {
    padding: 1.25em 1.5em;
    vertical-align: middle;
    color: #000;
    border-top: 1px #333 solid;
    transition: 0.5s;
}

td:nth-child(3) {
    color: rgb(160, 60, 60);
}

td a {
    display: block;
    width: 100%;
    height: 100%
}

.job-name {
    width: 20rem;
}

.btn-wrap {
    float: right;
    display: flex;
    flex-direction: row;
}

.btn-wrap a {
    width: fit-content;
}

.accept-btn {
    padding: 0.5rem 1.5rem;
    margin-left: auto;
    margin-right: 1rem;
    border: 1.5px solid rgb(80, 150, 220);
    border-radius: 30px;
    transition: all 0.4s;
    color: white;
    font-weight: bold;
    background-color: rgb(80, 150, 220);
}

.accept-btn:hover {
    background-color: rgb(50, 100, 145);
}

.refuse-btn {
    padding: 0.5rem 1.5rem;
    margin-right: 1rem;
    border: 1.5px solid rgb(220, 80, 80);
    border-radius: 30px;
    transition: all 0.4s;
    color: white;
    font-weight: bold;
    background-color: rgb(220, 80, 80);
}

.refuse-btn:hover {
    background-color: rgb(150, 60, 60);
}

.right {
    display: flex;
}

.invite {
    display: flex;
    padding-right: 1em;
}