body,
h1,
p,
ul {
    margin: 0;
    padding: 0;
}

.compose-container {
    margin-left: 200px;
}

.main-section {
    margin: auto;
    max-width: 70%;
    padding: 50px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
}

.top-section {
    display: flex;
    margin-bottom: 30px;
}

h1 {
    flex: 10;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.send-button {
    background-color: #5161CE;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
}

.send-button:hover {
    background-color: #0056b3;
}


.message-input,
.message-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}

.message-textarea {
    height: 200px;
}