/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #222;
    color: #fff;
}

a {
    text-decoration-line: none;
    color: white;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 90px;
    border-bottom: solid 0.8px #333;
    position: fixed;
    top: 0;
    left: 200px;
    background-color: #222;
}

.top-bar h1 {
    font-size: 40px;
    font-weight: bold;
    margin-left: 4rem;
}

.top-bar a {
    margin-left: auto;
}

nav {
    margin-top: 120px;
    margin-left: 33%;
    background-color: #222;
    padding: 10px;
    width: 50%;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    font-size: 20px;
}

.nav-item {
    margin: 0 10px;
    cursor: pointer;
}

.nav-item.active {
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
    border-bottom: 1px solid #555;
    background-color: #333;
}

#message-list {
    margin-left: 22%;
    width: 70%;
    margin-top: 20px;
}

.message-item {
    display: flex;
    flex-direction: column;
    background-color: #333;
    height: 100px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.message-title {
    margin: 10px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.message-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.message-sender {
    color: #ccc;
    font-size: 14px;
}

.message-date {
    color: #ccc;
    font-size: 14px;
}

#send-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#send-btn:hover {
    background-color: #555;
}