body,
h1,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: Arial, sans-serif;
}

.content-container {
    margin-left: 400px;
    max-width: 800px;
}

.button-section {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 20%;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    height: 40px;
    background-color: #949DD7;
    border-radius: 10px;
    border: none;
}

.button-section:hover {
    background-color: #5161CE;
}

.message-list {
    list-style: none;
    padding: 0;
}

.incoming-message {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

.message-header {
    display: flex;
}

.message-title {
    flex: 6;
    font-weight: bold;
}

.message-people {
    flex: 4;
    color: #888;

}

.message-time {
    flex: 4;
    color: #888;
}

.deletebutton {
    flex: 4;
    width: 100%;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin: auto;
    background-color: red;
    border-radius: 5px;
    border: none;
}

.deletebutton:hover {
    background-color: rgb(202, 45, 45);
}

.incoming-message {
    background-color: #f5f5f5;
}

.message-content {
    margin-top: 10px;
}