body,
h1,
p,
ul {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    background-color: #f3f6fd;
    font-family: Arial, sans-serif;
}

.compose-container {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px 10px 10px 10px;
    background-color: #fff;
    margin-left: 150px;
}

.main-section {
    margin: auto;
    max-width: 100%;
    min-height: 700px;
    padding: 50px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
}

.top-section {
    display: flex;
    margin-bottom: 30px;
}

h1 {
    flex: 10;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.send-button {
    vertical-align: right;
    width: 10%;
    text-decoration: none;
    font-weight: bold;
    height: 40px;
    font-size: 16px;
    margin-top: 15px;
    color: #fff;
    border-radius: 20px;
    border: 1.5px solid #6675e3;
    background-color: #6675e3;
}

.send-button:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #6675e3;

}


.message-input,
.message-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 15px;
    border: 2px solid #999;
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
  
}

.message-textarea {
    height: 200px;
}
.message-input:focus,
.message-textarea:focus{
    border: 2px solid #000;
}


select {
    outline: none;
    box-shadow: none;
    width: 100%;
    padding: 0 1em;
    border: 2px solid #999;
    border-radius: 4px;
    cursor: pointer;
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    height: 2em;
    width: 101%;
    border: 2px solid #999;
     border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 20px;

}

/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: rgb(233, 233, 233);
    transition: .25s all ease;
    pointer-events: none;
}

.search-input-detail>ul,
li {
    list-style: none;
    font-size: 15px;
    font-weight: 500;

}