body,
h1,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f6fd;
    font-family: Arial, sans-serif;
}

.main-container {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px 10px 10px 10px;
    background-color: #fff;
    margin-left: 150px;
}

.message-container {
    background-color: #fff;
    margin: auto;
    width: 95%;
    min-height: 640px;
    overflow: hidden;
}

.message-header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.message-content {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.message-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.message-sender,
.message-date {
    margin: 0;
    font-weight: bold;
    flex-basis: 100%;
}

.message-sender span,
.message-date span {
    color: #555555;
    font-weight: bold;
}

.message-text {
    border: #999 solid 1px;
    border-radius: 10px;
    line-height: 1.5;
    padding: 15px;
}

.message-text p {
}