.page-container {
    width: 100vw;
    height: auto;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.inner-container {
    background-color: #222;
    width: 900px;
    height: 100vhs;
    display: flex;
    flex-direction: column;
}

.top-wrap {
    background-color: #222;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.top-wrap h1 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 2.5rem;
}

.toolbar-wrap {
    background-color: #222;
    display: flex;
    margin-bottom: 2.5rem;
}

.toolbar-btn {
    color: #fff;
    background-color: #222;
    margin-right: 2.5rem;
    border: none;
}

.password-change-btn {
    font-weight: bold;
    border-bottom: solid 2px #444;
}

.toolbar-btn:hover {
    color: #fff;
    font-weight: bold;
}

.password-change-script {
    color: #fff;
    background-color: #333;
    display: flex;
    height: 90px;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    border: solid 1px #222;
}

.update-wrap {
    color: #fff;
    background-color: #333;
    display: flex;
    height: 400px;
    align-items: center;
    margin-bottom: 2rem;
}

.update {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    justify-content: center;
    align-items: center;
}

.update-info {
    display: flex;
    flex-direction: row;
    margin: 1.5rem auto 1.5rem auto;
}

.update-detail {
    margin-right: 2rem;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
}

.update-input {
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    line-height: 45px;
    width: 600px;
    padding-left: 20px;
}

.update-input:focus {
    outline: none;
}

.btn-wrap {
    display: flex;
    flex-direction: row-reverse;
}

.save-btn {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 45px;
    border: none;
    background-color: #444;
    margin-left: auto;
    margin-bottom: 2rem;
}
