body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: white;
}

h1 {
    color: #000;
    font-size: 48px;
}

label {
    display: block;
    margin-top: 20px;
}

.container {
    text-align: center;
}

.head-container {
    max-width: 200;
    margin-left: -5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.back-button {
    background-color: #fff;
    color: #5161CE;
    border: 1px solid #5161CE;
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 2rem;
    transition: 0.5s;
}

.back-button:hover {
    background-color: #5161CE;
    color: #fff;
}

input[type="text"],
select {
    width: 100%;
    padding-bottom: 6px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    background-color: #fff;
    box-sizing: border-box;
    border: 2px solid #5161CE;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    padding: 0 12px;
    height: 50px;
}

input[type="text"],
select:focus {
    border: 2px solid #5161CE;
    outline: none;
}

textarea {
    width: 100%;
    padding-bottom: 6px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    background-color: #fff;
    box-sizing: border-box;
    border: 2px solid #5161CE;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    padding: 0 12px;
    height: 100px;
}

textarea:hover {
    border: 2px solid #5161CE;
    outline: none;
}

i input[type="submit"],
button {
    background-color: #5161CE;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
    background-color: #949DD7;
}

.section {
    margin: 30px;
    display: inline-block;
    width: 35%;
    vertical-align: top;
}

.friend-form {
    display: inline-block;
    margin-left: -5px;
    vertical-align: top;
}

.friend-search-results {
    margin: 20px;
    text-align: left;
}

.friend-result {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}