/* Reset some default styles */
body,
h1,
p,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Global styles */
body {
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
}

.main-content {
    margin-left: 180px;
}

.centered-content {
    max-width: 80%;
    margin: auto;
}

.project-name {
    margin: 50px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.centered-top {
    display: flex;

}

.team-members,
.project-intro {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.div-h {
    font-size: 30px;
    font-weight: bolder;
}

.div-c {
    max-height: 150px;
    overflow: auto;
}

.div-content {
    font-size: 18px;
}

.project-intro {
    min-width: 450px;
    flex: 1;
    background-color: #ffff;
    color: #000000;
    border: 2px solid #555555;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;

}

.team-members {
    background-color: #FFFFFF;
    border: 2px solid #555555;
    color: #000000;
    min-width: 500px;
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

.member {
    margin-top: 3px;
    max-height: 150px;
    border-bottom: #555555 1px solid;
}

.my-work {
    min-width: 1050px;
    background-color: #FFFFFF;
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    border: #555555 solid 2px;
}

.goals {
    min-width: 1000px;
    background-color: #fff;
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    overflow: auto;
    border: #555555 solid 2px;
}

.goals hr {
    background-color: #555555;
    height: 1px;
    border: 0;
}

table {
    font-size: .9em;
    width: 100%;
    border-collapse: collapse;
}

th {
    font-weight: bold;
    color: #000000;
    height: auto;
    padding: 0.5rem;
    vertical-align: middle;
    font-size: 20px;
    text-align: left;
}

tr {
    padding: 1rem 0rem 1rem 0rem;
}

td {
    height: 40px;
    font-size: 16px;
    text-align: center;
    border-top: 1px #555555 solid;
    transition: 0.5s;
}

td:hover {
    background-color: #777777;
}

td a {
    display: block;
    width: 100%;
    height: 100%
}

.job-name {
    width: 70%;
    column-span: 2;
}

.job-deadline {
    width: 20%;
    column-span: 2;
}

.horizon-divider {
    margin: 10px 0px 10px 0px;
    background-color: #555555;
    height: 1px;
}

.horizon-divider-b {
    margin: 10px 0px 10px 0px;
    background-color: #555555;
    height: 1px;

}

.completion-0 {
    color: #5ea2ec;
}

.completion-1 {
    color: #66c43c;
}

.completion-2 {
    color: #ff7b26;
}

.completion-3 {
    color: #f11414;
}
.project-progress{
    margin: auto;
    width: 80%;
}
.progress-container {
    top: 30px;
    width: 100%;
    height: 20px;
    /* height: 0px; 으로 하면 안 보임 */
    border-radius: 10px;
    background-color: #bbb;
}

.progress-bar {
    border-radius: 20px;
    top: 30px;
    width: 0%;
    height: 15px;
    background: linear-gradient(to right, rgba(130, 60, 180, 1) 0%, rgba(250, 30, 30, 1) 50vw, rgba(250, 180, 70, 1) 100vw);
}