/* Reset some default styles */
body,
h1,
p,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
}

.main-content {
    background-color: #c3cff4;
}

.centered-content {
    border-radius: 0px 10px 10px 0px;
    background-color: #fff;
    margin-left: 150px;
    width: 90%;
}

.project-name {
    padding-top: 50px;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.centered-top {
    margin: auto;
    display: flex;
    margin-top: 10px;
    width: 89%;
}

.team-members,
.project-intro {
    flex-direction: column;
}

.div-h {
    font-size: 22px;
    font-weight: bolder;
}

.div-c {
    max-height: 150px;
    overflow: auto;
    position: relative;
}

.div-content {
    font-size: 18px;
}

.project-intro {
    flex: 1;
    background-color: #f3f6fd;
    color: #000000;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.team-members {
    background-color: #f3f6fd;
    color: #000000;
    flex: 1;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.member {
    margin-top: 3px;
    border-bottom: #555555 1px solid;
}

.centered-bottom {
    margin: auto;
    justify-content: space-between;
    width: 94%;
}

.goal-wrap {
    margin-top: 20px;
}

.goals {
    width: 90%;
    background-color: #f3f6fd;
    color: #000000;
    padding: 20px;
    border-radius: 30px;
    margin: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.works {
    width: 90%;
    background-color: #f3f6fd;
    color: #000000;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    float: inherit;
    margin: auto;
}

.work-wrap {
    margin-top: 20px;
}

.goals hr {
    background-color: #555555;
    height: 1px;
    border: 0;
}

table {
    font-size: .9em;
    width: 95%;
    margin: auto;
    border-collapse: collapse;
    padding: 10px;
}

th {
    font-weight: bold;
    color: #000000;
    height: auto;
    padding: 0.5rem;
    vertical-align: middle;
    font-size: 18px;
    text-align: left;
}

tr {
    padding: 1rem 0rem 1rem 0rem;
}

td {
    height: auto;
    font-size: 16px;
    text-align: center;
    border-top: 1px #555555 solid;
    transition: 0.5s;
    padding: 0.5rem;
}

td:hover {
    background-color: #c3cff4;
}

td a {
    display: block;
    width: 100%;
    height: 100%
}

.job-name {
    width: 70%;
    column-span: 2;
}

.job-deadline {
    width: 20%;
    column-span: 2;
}

.horizon-divider {
    margin: 10px 0px 10px 0px;
    background-color: #555555;
    height: 1px;
}

.horizon-divider-b {
    margin: 10px 0px 10px 0px;
    background-color: #555555;
    height: 1px;

}

.completion-0 {
    color: #5ea2ec;
}

.completion-1 {
    color: #66c43c;
}

.completion-2 {
    color: #ff7b26;
}

.completion-3 {
    color: #f11414;
}

.progress-container {
    margin: auto;
    top: 30px;
    width: 80%;
    height: 15px;
    /* height: 0px; 으로 하면 안 보임 */
    border-radius: 10px;
    background-color: #bbb;
}

.progress-bar {
    border-radius: 10px;
    top: 30px;
    height: 15px;
    background: linear-gradient(to right, rgb(117, 125, 183) 0%, rgb(87, 104, 187) 50vw, rgb(87, 95, 187) 100vw);
}

.project-top-line {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.percent-1 {
    color: #555;
    margin-bottom: 30px;
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
}

.percent-2 {
    color: #555;
    margin-bottom: 30px;
    vertical-align: bottom;
    font-size: 15px;
    text-align: center;
    font-weight: bolder;
}