body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: white;
}

a {
    text-decoration: none
}

h3 {
    color: #000;
    font-size: 48px;
    margin-top: 16px;
    font-weight: 600;
}

label {
    display: block;
    margin-top: 20px;
}

.container {
    text-align: center;
    width: 800px;
}

.head-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.fa-solid {
    font-size: 24px;
    margin-left: 10px;
    margin-top: 3px;
}

.back-button {
    background-color: #FFFFFF;
    color: #6675e3;
    border: 2px solid #6675e3;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 30px;
    margin-left: -11rem;
    margin-right: 11rem;
    transition: 0.5s;
}

.back-button:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #6675e3;
    color: #6675e3;
}

input {
    width: 70%;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    box-sizing: border-box;
    border: 2px solid #999999;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    padding: 0 12px;
    height: 50px;
}

input:focus {
    border: 2px solid #000;
    outline: none;
}

textarea {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    box-sizing: border-box;
    border: 2px solid #999;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    padding: 10px 12px;
    height: 100px;
}

textarea:focus {
    border: 2px solid #000;
    outline: none;
}

i input[type="submit"],
button {
    border: #6675e3 2px solid;
    background-color: #6675e3;
    color: #FFFFFF;
    padding: 12px 20px;
    border-radius: 20px;
    cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #6675e3;
}

.section {
    margin: 30px;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.friend-form {
    display: inline-block;
    margin-left: -5px;
    vertical-align: top;
}

.friend-search-results {
    margin: 20px;
    text-align: left;
}

.friend-result {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description {
    max-width: 70%;
    overflow: auto;
    min-height: 200px;
}

form input {
    margin-bottom: 30px; /* 원하는 간격 크기로 조정 가능 */
}

form textarea {
    margin-bottom: 30px;
}

.startBtn {
    width: 30%;
    padding: 20px;
    font-size: 2rem;
}