inviteMemberbody {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: white;
}

h1 {
    color: #5161CE;
    font-size: 48px;
}

h2 {
    color: #5161CE;
    font-size: 25px;
}

.head-container {
    margin-left: -5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.back-button {
    background-color: #fff;
    color: #5161CE;
    border: 1px solid #5161CE;
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 2rem;
    transition: 0.5s;
}

.back-button:hover {
    background-color: #5161CE;
    color: #fff;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #5161CE;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
}

input[type="submit"],
button {
    background-color: #5161CE;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}

/* input[type="submit"]:hover,
button:hover {
    background-color: #fff;
    color: #007BFF;
    border: 1px solid #007BFF;
} */

input:focus {
    outline: #333;
}

.search-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: top;
    margin-left: 30%;
    width: 40%;
}

.friend-form {
    display: inline-block;
    margin-top: 40px;
    margin-left: -5px;
    vertical-align: top;
}

.search-area {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.search-area button {
    width: 6rem;
}

.friend-search-results {
    color: #000;
    text-align: left;
}

.friend-result {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friend-email {
    color: #000;
    font-size: 0.8rem;
    margin-left: 10px;
}

.horizon-divider {
    background-color: #5161CE;
    height: 0.2px;
    margin: 10px 0 30px 0;
}