body {
    font-family: Arial, sans-serif;
    background-color: #f3f6fd;
}

h1 {
    flex: 12;
    color: #000;
    font-size: 44px;
    margin-top: 16px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 100px;
}

h2 {
    color: #000;
    font-size: 30px;
    padding-bottom: -20px;
}

.search-section {
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 40px;
}

.head-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.back-button {
    margin-left: 20px;
    background-color: #FFFFFF;
    color: #6675e3;
    border: 2px solid #6675e3;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 30px;
    margin-right: 3rem;
    transition: 0.5s;
}

.back-button:hover,
.back-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #6675e3;
    color: #6675e3;
}

input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #999;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
}


input[type="text"]:focus {
    border: 2px solid #000;
}

.search-button {
    margin-left: 5px;
    background-color: #c3cff4;
    color: #000;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}

.search-button:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;;
}

.invite-btn {
    background-color: #c3cff4;
    color: #000;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}

.invite-btn:hover,
.invite-btn:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

.search-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: top;
    margin-left: 30%;
    width: 40%;
}

.friend-form {
    display: inline-block;
    vertical-align: top;
}

.search-area {
    height: 3rem;
    display: flex;
    margin-left: 20px;
    margin-bottom: 15px;
}

.friend-search-results {
    color: #000;
    text-align: left;
    padding: 20px;
}

.friend-result {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friend-name {
    color: #000;
    font-size: 20px;
    margin-left: 10px;
}

.friend-email {
    color: #000;
    font-size: 0.8rem;
    margin-left: 10px;
}

.horizon-divider {
    background-color: #999;
    height: 2px;
    margin: 10px 0 30px 0;
}