body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    margin: 30px 0px 0px 180px;
    background-color: #f3f6fd;
}

.sub-nav {
    margin-top: -9.5px;
    width: 95%;
    display: flex;
    padding-left: -40px;
}


.sub-navbar {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: #000;
    border-radius: 10px 10px 0px 0px;
}

.sub-navbar li {
    display: inline;
    float: left;
    text-align: center;
    width: 200px;
}

.sub-navbar li a {
    font-weight: 600;
    color: #000;
    text-decoration: none;
    display: block;
    padding: 8px;
    border: #fff solid 3px;
    border-radius: 10px 10px 0px 0px;
}

.sub-navbar li a.active {
    border: #fff solid 3px;
    border-radius: 10px 10px 0px 0px;
    background-color: #c3cff4;
    color: #000;
}

.sub-nav-item a:hover:not(.active) {
    background-color: #c3cff4;
    transition: 0.3s;
    color: #000;
}

.horizon-divider {
    background-color: #46494F;
    height: 1px;
}