.main {
    margin: 30px 0px 30px 180px;
}

.sub-nav {
    display: flex;
    border-bottom: #5161CE solid 4px;
    padding-left: 20px;
}


.sub-navbar {

    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.sub-navbar li {
    display: inline;
    float: left;
    text-align: center;
    width: 200px;
}

.sub-navbar li a {
    font-weight: 600;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    padding: 8px;
    border: #dddddd solid 3px;
    border-radius: 10px 10px 0px 0px;
}

.sub-navbar li a.active {
    border: #5161CE solid 3px;
    border-radius: 10px 10px 0px 0px;
    background-color: #5161CE;
    color: white;
}

.sub-nav-item a:hover:not(.active) {
    background-color: #999;
    color: white;
}

.horizon-divider {
    background-color: #5161CE;
    height: 1px;
    margin: 10px 0 30px 0;
}