body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    position: relative;
    z-index: 2;
    background-color: #555555;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 40px;
    border-bottom: 1px solid #ddd;
}

#exitButton {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

#exitButton:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.sidebar {
    z-index: 1;
    background-color: #555555;
    color: #fff;
    width: 180px;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    padding-top: 52px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    text-indent: 20px;
    line-height: 4rem;
}

.menu ul li {
    height: 4rem;
}

.menu ul li:hover {
    background-color: #777777;
    color: #0747A6FF;
    transition: 0.5s;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.menu-select {
    background-color: #777777;
    color: #5161CE;
    transition: 0.5s;
}

.user-list {
    color: #fff;
    border-top: solid 1px #FFFFFF;
    height: 200px;
}

.user-list h2 {
    text-indent: 20px;
    font-size: 16px;
    margin-bottom: 10px;
}

.user-list ul {
    list-style-type: none;
    padding: 0;
    text-indent: 20px;
    height: 30px;
    line-height: 30px;
}

.user-list li {
    margin-bottom: 5px;
}

#inviteButton {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #555555;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    color: #fff;
    border: none;
    /*padding: 10px 20px;*/
    font-weight: bold;
    cursor: pointer;
    width: 180px;
    height: 40px;
}

#inviteButton:hover {
    background-color: #777777;
}
