/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #222;
    color: #fff;
}

a {
    text-decoration-line: none;
    color: white;
}

/* Style container */
.container {
    display: flex;
}

.centered-content {
    margin-left: 250px;
    padding: 20px;
}

.project-name {
    margin: 2%;
    font-size: 60px;
    text-align: center;
}

.centered-top {
    display: flex;
}

.team-members,
.project-intro,
.my-work,
.goals {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.div-h {
    font-size: 30px;
    font-weight: bolder;
}

.div-content {
    font-size: 18px;
}

.project-intro {
    min-width: 450px;
    flex: 1;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;

}

.team-members {
    min-width: 500px;
    flex: 1;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}


.member-email {
    color: #888;
    font-size: 0.75rem;
    margin-top: -1rem;
}

.member > hr {
    background: #ffffff;
    height: 1px;
    border: 0;
}

.my-work {
    min-width: 1050px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

.goals {
    min-width: 800px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}


/* 목표 및 작업 리스트 css*/
.goal-container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
}

.goal-container > h1 {
    text-align: center;
    font-size: 32px;
}

.board {
    display: flex;
}

.column {
    background: #333333;
    flex: 1;
    margin-right: 20px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.column > h2 {
    text-align: center;
    margin-top: 0;
    font-size: 34px;
}

.user-story {
    background-color: #444444;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    position: relative;
}

.user-story span {
    display: block;
}

.status {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 14px;
    padding: 2px 8px;
    border-radius: 4px;
    margin: 15px;
    color: #fff;
}

.sortable {
    min-height: 60px;
}


table {
    border-top: 1px #333 solid;
    border-bottom: 1px #333 solid;
    font-size: .9em;
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
}

th {
    padding: 1em 1.5em;
    vertical-align: middle;
    font-size: 20px;
    text-align: left;
}

thead {
    font-weight: bold;
    color: #fff;
}

td {
    font-size: 17px;
    padding: 1em 1.5em;
    vertical-align: middle;
    border-top: 1px #333 solid;
    transition: 0.5s;
}

td:hover {
    background-color: #555;
}

td a {
    display: block;
    width: 100%;
    height: 100%
}

.job-name {
    width: 40rem;
    column-span: 2;
}
.job-deadline{
    width: 80rem;
    column-span: 2;
}


.delete-btn {
    width: 100%;
    height: 3rem;
    background-color: rgb(160, 60, 60);
    color: #fff;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.5s;
    margin-bottom: 1rem;
}

.delete-btn:hover {
    background-color: rgb(122, 56, 56);
}

