<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Border Project Manager</title>
	<link rel="stylesheet" href="/css/sidebar.css">
	<link rel="stylesheet" type="text/css" href="/css/onlyReadPage.css">
	<script src="/js/onlyReadPage.js"></script>
</head>

<body>
<div class="sidebar">
	<ul>
		<li class="active"><a href="/project/main">홈</a></li>
		<li><a href="/project/projectAllList">나가기</a></li>
	</ul>
</div>
<div class="centered-content">
	<div class="project-name" th:text="${projectDto.title}"></div>
	<div class="centered-top">
		<div class="project-intro">
			<p class="div-h">Project Introduction</p>
			<p class="div-content" th:text="${projectDto.subtitle}">
		</div>
		<div class="team-members">
			<div class="div-h">Team Members</div>
			<div class="member" th:each="member : ${joinUsers}">
				<h3 th:text="${member.name}"></h3>
				<div class="member-role" th:text="${member.email}"></div>
			</div>
		</div>
	</div>
	
	<div class="goals">
		<div class="div-h" style="margin-left: 5%;">목표 목록</div>
		<hr style="background: #ffffff; height: 1px; border: 0;">
		<br>
		<table>
			<thead>
			<tr>
				<th class="job-deadline">이름</th>
				<th class="job-deadline">설명</th>
				<th class="job-deadline">마감기한</th>
				<th class="job-name">상태</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="headDto : ${headDtoList}">
				<td class="job-deadline" th:text="${headDto.title}"></td>
				<td class="job-deadline" th:text="${headDto.discription}"></td>
				<td class="job-name" th:text="${#dates.format(headDto.endDay, 'yyyy-MM-dd')}"></td>
				<td class="job-name" style="color: white;" th:if="${headDto.completion == 1}">완료</td>
				<td class="job-name" style="color: red;" th:if="${headDto.completion == 0}">진행중</td>
			</tr>
			</tbody>
		</table>
	</div>
	
	<div class="goals">
		<div style="margin-left: 5%;" class="div-h">작업 목록</div>
		<br>
		<table>
			<thead>
			<tr>
				<th class="job-deadline">이름</th>
				<th class="job-deadline">설명</th>
				<th class="job-deadline">마감기한</th>
				<th class="job-name">상태</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="workDto : ${workDtoList}">
				<td class="job-deadline" th:text="${workDto.title}"></td>
				<td class="job-deadline" th:text="${workDto.discription}"></td>
				<td class="job-name" th:text="${#dates.format(workDto.endDay, 'yyyy-MM-dd')}"></td>
				<td class="job-name" style="color: white;" th:if="${workDto.completion == 1}">완료</td>
				<td class="job-name" style="color: red;" th:if="${workDto.completion == 0}">진행중</td>
			</tr>
			</tbody>
		</table>
	</div>
	
	<div class="my-work">
		<div class="div-h" style="margin-left: 5%;" >문서 목록</div>
		<br>
		<table>
			<thead>
			<tr>
				<th class="job-name">문서명</th>
				<th class="job-deadline">작성일자</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="documentDto : ${documentDtoList}">
				<td class="job-name"><a th:href="@{/document/view(id=${documentDto.documentId})}" th:text="${documentDto.title}"></a></td>
				<td class="job-deadline" th:text="${documentDto.dateDocument}"></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</div>
</body>

</html>