<!DOCTYPE html>
<html>

<head>
	<title>Border Project Manager</title>
	<link rel="stylesheet" href="/css/projectCreate.css">
</head>

<body>
<div class="container">
	<input type="hidden" th:name="nowUser" th:value="${nowUser.getUuid()}">
	<div class="head-container">
		<a href="/project/projectAllList" class="back-button"> < </a>
		<h1>프로젝트 생성</h1>
	</div>
	<div class="section">
		<form name="projectForm" action="/project/createPage" method="post">
			<label for="project-title">프로젝트 제목:</label><br>
			<input placeholder="제목을 적으시오." type="text" id="project-title" name="title"><br>
			
			<label for="project-description">프로젝트 소개:</label><br>
			<textarea placeholder="소개를 적으시오." id="project-description" name="subtitle"></textarea><br>
			
			<label>시작 날짜 : </label><br>
			<input name="startDay" class="input-box" id="startDay" type="text"
				   placeholder="0000-00-00(연 월 일)">
			
			<label>끝난 날짜 : </label></label><br>
			<input name="endDay" class="input-box" id="endDay" type="text" placeholder="0000-00-00(연 월 일)">
			<button style=' width : 100%; padding:20px; margin-top:50px; font-size: 2rem; font-family:Arial, Helvetica, sans-serif;'
					type="button" onclick="checkForm()">
				Start New BPM Template
			</button>
		</form>
	</div>
	<br>
	
	<!-- <button onclick="submitForm()"
	  style=' width : 50%;padding:20px; font-size: 2rem; font-family:Arial, Helvetica, sans-serif;'>Start New BPM
	  Template</button>
	정적 화면을 위한 일시적 비활성화. 재사용 예정-->
	
	<script>
		var title = document.getElementById("project-title");
		var description = document.getElementById("project-description");
		var startDay = document.getElementById("startDay");
		var endDay = document.getElementById("endDay");
		
		function checkForm() {
			if (title.value.length == 0) {
				alert("제목을 입력하시오.")
				title.focus();
				return false;
			}
			if (description.value.length == 0) {
				alert("설명 입력하시오.")
				title.focus();
				return false;
			}
			
			try {
				var date = value.split("-");
				var y = parseInt(date[0], 10),
						m = parseInt(date[1], 10),
						d = parseInt(date[2], 10);
				
				var dateRegex = /^(?=\d)(?:(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:\x20|$))|(?:2[0-8]|1\d|0?[1-9]))([-.\/])(?:1[012]|0?[1-9])\1(?:1[6-9]|[2-9]\d)?\d\d(?:(?=\x20\d)\x20|$))?(((0?[1-9]|1[012])(:[0-5]\d){0,2}(\x20[AP]M))|([01]\d|2[0-3])(:[0-5]\d){1,2})?$/;
				result = dateRegex.test(d + '-' + m + '-' + y);
			} catch (err) {
				result = false;
			}
			document.projectForm.submit();
		}
		
	</script>
</div>
</body>
</html>