<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset='utf-8'/>
	<link href="/lib/main.css" rel='stylesheet'/>
	<script src="/lib/main.js"></script>
	<script src="/js/calender.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" href="/css/calender.css">
	<link rel="stylesheet" href="/css/sidebar.css">
	<link rel="stylesheet" href="/css/sideNavbar.css">
</head>


<body>
<header>
	<nav>
		<div class="nav-left">
			<a id="exitButton" href="/project/projectAllList">나가기</a>
		</div>
		<div class="nav-center">
			<h1 id="projectName" th:text="${projectDto.getTitle()}"></h1>
		</div>
		<div class="nav-right">
			<p id="loggedInUser" th:text="${sessionUser.getName()}"></p>
		</div>
	</nav>
</header>
<aside class="sidebar">
	<ul>
		<div class="menu">
			<ul>
				<li><a th:href="@{/project/main}">홈</a></li>
				<li><a href="/project/calendarEx">일정</a></li>
			</ul>
		</div>
	</ul>
	<ul>
	</ul>
</aside>
<div class="content">
	<div class="centered-content">
		<div id='calendar'></div>
	</div>
</div>
</body>

<script>
	var calendarEl = document.getElementById('calendar');
	var request = $.ajax({
				url: "/calendar/event",
				method: "GET"
			}
	);
	request.done(function (data) {
		var calendar = new FullCalendar.Calendar(calendarEl, {
			initialView: 'dayGridMonth',
			events: data
		});
		calendar.render();
	});
</script>

</html>