<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Border Project Manager</title>
  <link rel="stylesheet" href="/css/goalDetail.css">
  <link rel="stylesheet" href="/css/sidebar.css">
</head>
<body>
<div class="sidebar">
	<ul>
		<li><a href="/project/projectAllList">나가기</a></li>
		<li><a href="/project/main">홈</a></li>
		<li class="active"><a href="/project/goals">목표</a></li>
		<li><a href="/project/works">작업</a></li>
		<li><a href="/project/documentEntity">문서</a></li>
		<li><a href="/project/calender">달력</a></li>
		<li><a href="/recvMessageList">메세지</a></li>
		<li><a href="/user/search">멤버 초대</a></li>
	</ul>
</div>
<div class="top-bar">
  <!-- BackButton 디자인 필요 -->
  <a th:href="@{/project/goal/headView/{id}(id=${detailDto.headIdToDetail.headId})}" class="back-button">
    < </a>
  <h1 th:text="'하위 목표 : ' + ${detailDto.title}"></h1>
</div>

<div class="page-container">
  <div class="content-container">
    <div class="left-section">
      <div class="content">
        <h4 class="content-title">설명</h4>
        <p class="content-detail" th:text="${detailDto.discription}"></p>
      </div>

      <div class="content">
        <div>
          <h4 class="content-title">연결된 목표</h4>
          <div class="linked-object">
            <div class="object-header">
              <div>상위 목표</div>
              <button class="object-edit-btn" th:if="${auth == 1}">목표 변경</button>
            </div>
            <div class="horizon-divider-semi"></div>
            <div class="object">
              <a th:href="@{/project/goal/headView/{id}(id=${headDto.headId})}"><div class="object-list" th:text="${headDto.title}"></div></a>
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <h4 class="work-title">연결된 작업</h4>
        <a href="/project/work/create" th:if="${auth == 1}"><button class="work-edit-btn">작업 추가</button></a>
        <table>
          <thead>
          <tr>
            <th class="job-name">작업명</th>
            <th>담당자</th>
            <th>기한</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="userWork : ${userWorkMap}">
            <td><a th:href="@{/project/work/detail/{id}(id=${userWork.key.workId})}" th:text="${userWork.key.title}">작업명</a></td>
            <td><th:blockEntity th:each="value : ${userWork.value}">&nbsp;<th:blockEntity th:text="${value.name}"></th:blockEntity></th:blockEntity></td>
            <td th:text="${#dates.format(userWork.key.endDay, 'yyyy-MM-dd')}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="vertical-divider"></div>

    <div class="right-section">
      <div>
        <h4 class="content-title">시작일자</h4>
        <p class="content-detail" th:text="${#dates.format(detailDto.startDay, 'yyyy-MM-dd')}"></p>
        <div class="horizon-divider"></div>
      </div>

      <div>
        <h4 class="content-title">마감기간</h4>
        <p class="content-detail" th:text="${#dates.format(detailDto.endDay, 'yyyy-MM-dd')}"></p>
        <div class="horizon-divider"></div>
      </div>

      <div>
        <h4 class="content-title">상위 목표</h4>
        <p><a href="#" class="content-detail" th:text="${headDto.title}"></a></p>
        <div class="horizon-divider"></div>
      </div>

      <div>
        <h4 class="content-title">상태</h4>
        <p class="content-detail" th:if="${detailDto.completion == 1}">완료</p>
        <p class="content-detail" th:if="${detailDto.completion == 0}">진행중</p>
        <div class="horizon-divider"></div>
      </div>

      <div>
        <a th:href="@{/project/detail/completion/change/{id}(id=${detailDto.detailId})}">
          <button class="edit-btn" th:if="${auth == 1 && detailDto.completion == 0}">완료로 표시</button>
        </a>
        <a th:href="@{/project/detail/completion/change/{id}(id=${detailDto.detailId})}">
          <button class="edit-btn" th:if="${auth == 1 && detailDto.completion == 1}">진행중으로 표시</button>
        </a>
        <a th:href="@{/project/goal/detail/edit/{id}(id=${detailDto.detailId})}">
          <button class="edit-btn" th:if="${auth == 1}">목표 수정</button>
        </a>
        <a th:href="@{/project/goal/detail/delete/{id}(id=${detailDto.detailId})}">
          <button class="delete-btn" th:if="${auth == 1}" >목표 삭제</button>
        </a>
      </div>
    </div>
  </div>
</div>
</body>

</html>