<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Border Project Manager</title>
	<link rel="stylesheet" type="text/css" href="/css/documentDetail.css">
</head>
<!-- document가 게시되어 있는 화면 -->
<body>
<div class="page-container">
	<div class="floating-bar">
		<button class="side-btn">뒤로</button>
		<div class="up-down">
			<button class="side-btn">up</button>
			<button class="side-btn">down</button>
		</div>
	</div>
	
	<div class="content-container">
		
		<div class="documentEntity-section">
			<h1 class="documentEntity-title" th:text="${document.getTitle()}">Title</h1>
			<div class="documentEntity-detail">
				<div class="detail" th:text="${document.getUserName()}">작성자명</div>
				<div class="detail" th:text="${document.getDateDocument()}">2023 01 01</div>
			</div>
			<div class="horizon-divider"></div>
			<div class="documentEntity-content">
				<th:blockEntity th:each="blockEntity : ${blockList}">
					<div class="move_block">
						<div th:id="${blockEntity.category}"
							 th:if="${blockEntity.category == 'blockImage'}"
							 th:content="${blockEntity.content}"
							 class ="blockEntity"><img class = "block_image" th:src="${blockEntity.content}" ondragstart="return false"></div>

						<div th:id="${blockEntity.category}"
							 th:if="${blockEntity.category == 'blockVideo'}"
							 th:content="${blockEntity.content}"
							 class ="blockEntity"><video class = "block_video" th:src="${blockEntity.content}" controls ondragstart="return false"></video></div>

						<div th:id="${blockEntity.category}"
							 th:if="${blockEntity.category != 'blockImage' and blockEntity.category != 'blockVideo'}"
							 class ="blockEntity"
							 placeholder="빈 블럭"
							 th:utext="${blockEntity.content}"
							 spellcheck="false"
							 controls ondragstart="return false">blockEntity content</div>
					</div>
				</th:blockEntity>
			</div>
			<div class="horizon-divider"></div>
		</div>
	
	</div>
</div>
</body>

</html>