<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Border Project Manager</title>
	<link rel="stylesheet" href="/css/sidebar.css">
	<link rel="stylesheet" href="/css/sideNavbar.css">
	<link rel="stylesheet" type="text/css" href="/css/documentDetail.css">
</head>

<body>
<header>
	<nav>
		<div class="nav-left">
			<a id="exitButton" href="/project/projectManagerList">나가기</a>
		</div>
		<div class="nav-center">
			<h1 id="projectName">Project Name</h1>
		</div>
		<div class="nav-right">
			<p id="loggedInUser">사용자 이름</p>
		</div>
	</nav>
</header>
<aside class="sidebar">
	<ul>
		<div class="menu">
			<ul>
				<li><a th:href="@{/project/main}">홈</a></li>
				<li><a href="/project/goals">목표</a></li>
				<li><a href="/project/works">작업</a></li>
				<li class="menu-select"><a href="/project/document">문서</a></li>
				<li><a href="/project/calender">일정</a></li>
				<li><a href="/project/recvMessageList">수신함</a></li>
			</ul>
		</div>
	</ul>
	<ul>
		<div class="user-list">
			<h2>프로젝트 멤버</h2>
			<ul>
				<li>User 1</li>
				<li>User 2</li>
				<li>User 3</li>
			</ul>
		</div>
		<div>
			<button id="inviteButton">Invite Members</button>
		</div>
	</ul>
</aside>
<div class="main">
	<div class="sub-nav">
		<ul class="sub-navbar">
			<li class="sub-nav-item"><a href="#">돌아가기</a></li>
		</ul>
	</div>
</div>
<div class="page-container">
	<div class="content-container">
		<div class="documentEntity-section">
			<h1 class="documentEntity-title" th:text="${document.getTitle()}">Title</h1>
			<div class="documentEntity-detail">
				<div class="detail" th:text="${document.getUserName()}">작성자명</div>
				<div class="detail" th:text="${document.getDateDocument()}">2023 01 01</div>
			</div>
			<div class="horizon-divider-content"></div>
			<div class="documentEntity-content">
				<th:blockEntity th:each="blockEntity : ${blockList}">
					<div class="move_block">
						<div th:id="${blockEntity.category}" th:if="${blockEntity.category == 'blockImage'}"
							 th:content="${blockEntity.content}" class="blockEntity"><img class="block_image"
																						  th:src="${blockEntity.content}"
																						  ondragstart="return false">
						</div>
						
						<div th:id="${blockEntity.category}" th:if="${blockEntity.category == 'blockVideo'}"
							 th:content="${blockEntity.content}" class="blockEntity">
							<video class="block_video"
								   th:src="${blockEntity.content}" controls ondragstart="return false"></video>
						</div>
						
						<div th:id="${blockEntity.category}"
							 th:if="${blockEntity.category != 'blockImage' and blockEntity.category != 'blockVideo'}"
							 class="blockEntity" placeholder="빈 블럭" th:utext="${blockEntity.content}"
							 spellcheck="false" controls ondragstart="return false">blockEntity content
						</div>
					</div>
				</th:blockEntity>
			</div>
			<div class="horizon-divider-content"></div>
		</div>
	</div>

</div>
</body>

</html>