<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- documentEntity 를 생성하고 편집할 수 있는 창 -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Border Project Manager</title>
    <link rel="stylesheet" href="/css/documentWrite.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>
    <script src="/js/documentWrite.js"></script>
</head>

<body>
<div class="main-content">
    <div class="write">
        <div class="detail">
            <input type="text" class="title" placeholder="이곳에 제목을 입력하세요" th:value="${documentEntity.title}">
            <div type="hidden" class="documentId" th:value="${documentEntity.documentId}"></div>
            <hr>
            <div class="toolbar">
                <button type="button" class="font-btn" onclick="createBlockH1()">H1</button>
                <button type="button" class="font-btn" onclick="createBlockH2()">H2</button>
                <button type="button" class="font-btn" onclick="createBlockH3()">H3</button>
                <button type="button" class="font-btn" onclick="createBlockP()">P</button>
                <div class="horizon-line"></div>
                <button type="button" class="font-btn" id="image-btn">img</button>
                <button type="button" class="font-btn" id="video-btn">mp4</button>
                <div class="horizon-line"></div>
                <a th:href="${back}"><button class="font-btn"><img src="/img/back_document.png" class="icon-img"></button></a>
                <a th:href="@{/documentEntity/history(id=${documentEntity.documentId})}"><button class="font-btn"><img src="/img/history_document.png" class="icon-img"></button></a>
                <button class="font-btn" onclick="ajaxPost()"><img src="/img/download_document.png" class="icon-img"></button>
                <form action="/documentEntity/delete" method="post" >
                    <button class="font-btn" type="submit"><img src="/img/delete_document.png" class="icon-img"></button>
                    <input th:name="id" type="hidden" th:value="${documentEntity.documentId}">
                </form>
            </div>
            <div class="content">
                <div class="sortable">
                    <div class="move_block" th:each="blockEntity : ${blockEntityList}">
                        <div class="move">+</div>

                        <div th:id="${blockEntity.category}"
                             th:if="${blockEntity.category == 'blockImage'}"
                             th:content="${blockEntity.content}"
                             class ="blockEntity"><img class = "block_image" th:src="${blockEntity.content}" ondragstart="return false"></div>

                        <div th:id="${blockEntity.category}"
                             th:if="${blockEntity.category == 'blockVideo'}"
                             th:content="${blockEntity.content}"
                             class ="blockEntity"><video class = "block_video" th:src="${blockEntity.content}" controls ondragstart="return false"></video></div>

                        <div th:id="${blockEntity.category}"
                             th:if="${blockEntity.category != 'blockImage' and blockEntity.category != 'blockVideo'}"
                             class ="blockEntity"
                             contenteditable="true"
                             placeholder="빈 블럭"
                             th:utext="${blockEntity.content}"
                             spellcheck="false">blockEntity content</div>
                    </div>
                </div>
            </div>
            <input type="file" id="imageInput" style="display:none;" accept="image/*">
            <input type="file" id="videoInput" style="display:none;" accept="video/*">
        </div>
    </div>
    <div class="footer">
        <!-- 요건 리스트로 돌아가기 -->
        <a th:href="${back}"><button class="footer-btn">나가기</button></a>
        <a th:href="@{/documentEntity/history(id=${documentEntity.documentId})}"><button class="footer-btn">기록</button></a>
        <!-- 요건 리스트로 넘김 -->
        <button class="footer-btn" onclick="ajaxPost()">저장</button>
        <form action="/documentEntity/delete" method="post" >
            <button class="footer-btn" type="submit">삭제</button>
            <input th:name="id" type="hidden" th:value="${documentEntity.documentId}">
        </form>
    </div>
</div>
</body>

<script src="/js/documentFileUpload.js"></script>

</html>