<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="/css/documentTemplate.css">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.2.0/css/all.min.css"
		  integrity="sha512-6c4nX2tn5KbzeBJo9Ywpa0Gkt+mzCzJBrE1RB6fmpcsoN+b/w/euwIMuQKNyUoU/nToKN3a8SgNOtPrbW12fug=="
		  crossorigin="anonymous" />
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
<div class="main-nav">
	<div class="nav-left">
		<button id="exitButton">
			<img src="../img/arrow_white.png" id="back-button" class="back-button">
			<img src="../img/arrow_38438F(1).png" id="back-button-hover" class="back-button">
		</button>
	</div>
	<div class="title">
		<h1 id="projectName">Work title here</h1>
	</div>
	<div class="subtitle">Subtitle here</div>
</div>

<div class="main-content">
	<div class="slider">
		<div class="slide_group">
			<div class="slide" th:each="document : ${document}">
				<div class="template">
					<div class="template-first-projectName">프로젝트 이름</div>
					<div class="template-first-main-content">
						<div class="template-first-main-content-1"></div>
						<div class="template-first-main-content-2"></div>
					</div>
				</div>
				<div class="template-first-projectMember">프로젝트 멤버 : 000 외 0 명</div>
				<div class="template-first-projectDate">00-00-00 ~ 00-00-00</div>
			</div>
			<div class="slide" th:each="document : ${document}">
				<div class="template">
					<h1> 프로젝트 이름</h1>
					<div class="hr-divider"></div>
					<h2> 목차 </h2>
					<ul class="template-bullet-point">
						<li style="margin: 30px 10px;">
							<div class="first-bullet-ul">
								프로젝트 개요
								<ul class="second-bullet-ul">
									<li>프로젝트 소개</li>
									<li>프로젝트 팀원</li>
									<li>개발 일정</li>
								</ul>
							</div>
						</li>
						
						<li style="margin: 30px 10px;">
							<div class="first-bullet-ul">
								프로젝트 진행 상황
								<ul class="second-bullet-ul">
									<li>프로젝트 목표</li>
									<li>프로젝트 작업</li>
									<li>프로젝트 진행율</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="slide" th:each="document : ${document}">
				<div class="template">
					<h1> 프로젝트 이름</h1>
					<div class="hr-divider"></div>
					<div class="intro-project">
						<h2> 프로젝트 소개 </h2>
						<div style="margin-left: 10px;">소개글</div>
					</div>
					<div class="intro-member">
						<h3> 프로젝트 팀원</h3>
						<div class="div-c">
							<div class="intro-member-detail" th:each="member : ${joinUsers}">
								<div class="intro-member-name" th:text="${member.name}">이름</div>
								<div class="intro-member-role" th:text="${member.email}">메일</div>
							</div>
						</div>
					</div>
					<div class="intro-date">
						<h3> 개발 일정 </h3>
						<div style="margin-left: 10px;">소개글</div>
					</div>
				</div>
			</div>
			<!-- 각 슬라이드 -->
			<div class="slide" th:each="document : ${document}">
				<div class="template">
					<h1> 프로젝트 이름</h1>
					<div class="hr-divider"></div>
					<div>진행율 들어갈 부분</div>
					<div class="document-list-content">
						<ul id="accord1" class="accordian">
							<li th:each="document : ${documentList}">
								<header th:text="${document.getDocumentDto().getTitle()}">
									목표명
									<button class="document-view-btn">보기</button>
								</header>
								<section>
									<div class="document-detail">
										<div class="document-detail-info">
											<div class="detail-item">
												<h4>연결된 작업</h4> <a
													th:href="@{/project/work/detail/{id}(id=${document.getWorkDto().getWorkId()})}"
													th:text="${document.getWorkDto().getTitle()}">작업명</a>
											</div>
											<div class="detail-item">
												<h4>시작일자</h4> <a href=""
																 th:text="${document.getDocumentDto().getUserName()}">작성자명</a>
											</div>
											<div class="detail-item">
												<h4>마감일자</h4> <a href=""
																 th:text="${document.getDocumentDto().getDateDocument()}"></a>
											</div>
										</div>
									</div>
								</section>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 슬라이드 하단 버튼. 삭제시 하단 공백 CSS 수정 필요-->
<div class="slide_buttons">
</div>

<div class="directional_nav">
	<div class="previous_btn" title="Previous">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
			 y="0px" width="65px" height="65px" viewBox="-11 -11.5 65 66">
			<g>
				<g>
					<path fill="#474544"
						  d="M-10.5,22.118C-10.5,4.132,4.133-10.5,22.118-10.5S54.736,4.132,54.736,22.118
                                c0,17.985-14.633,32.618-32.618,32.618S-10.5,40.103-10.5,22.118z M-8.288,22.118c0,16.766,13.639,30.406,30.406,30.406 c16.765,0,30.405-13.641,30.405-30.406c0-16.766-13.641-30.406-30.405-30.406C5.35-8.288-8.288,5.352-8.288,22.118z" />
					<path fill="#474544"
						  d="M25.43,33.243L14.628,22.429c-0.433-0.432-0.433-1.132,0-1.564L25.43,10.051c0.432-0.432,1.132-0.432,1.563,0	c0.431,0.431,0.431,1.132,0,1.564L16.972,21.647l10.021,10.035c0.432,0.433,0.432,1.134,0,1.564	c-0.215,0.218-0.498,0.323-0.78,0.323C25.929,33.569,25.646,33.464,25.43,33.243z" />
				</g>
			</g>
		</svg>
	</div>
	<div class="next_btn" title="Next">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
			 y="0px" width="65px" height="65px" viewBox="-11 -11.5 65 66">
			<g>
				<g>
					<path fill="#474544"
						  d="M22.118,54.736C4.132,54.736-10.5,40.103-10.5,22.118C-10.5,4.132,4.132-10.5,22.118-10.5	c17.985,0,32.618,14.632,32.618,32.618C54.736,40.103,40.103,54.736,22.118,54.736z M22.118-8.288	c-16.765,0-30.406,13.64-30.406,30.406c0,16.766,13.641,30.406,30.406,30.406c16.768,0,30.406-13.641,30.406-30.406 C52.524,5.352,38.885-8.288,22.118-8.288z" />
					<path fill="#474544"
						  d="M18.022,33.569c 0.282,0-0.566-0.105-0.781-0.323c-0.432-0.431-0.432-1.132,0-1.564l10.022-10.035 			L17.241,11.615c 0.431-0.432-0.431-1.133,0-1.564c0.432-0.432,1.132-0.432,1.564,0l10.803,10.814c0.433,0.432,0.433,1.132,0,1.564 L18.805,33.243C18.59,33.464,18.306,33.569,18.022,33.569z" />
				</g>
			</g>
		</svg>
	</div>
</div>
<!-- 슬라이드 종료 -->
</div>



<div class="floating-menu" role="menu">
	<button id="floating1" aria-controls="floating-items" class="btn1 is-floating1 is-primary1"><span>.
				.</span></button>
	
	<a href="#" class="is-floating1">print</a>
	<a href="#" class="is-floating1">save</a>
</div>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/js/documentView.js"></script>
<script src="/js/slide.js"></script>
</body>

</html>