<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 목표 리스트 창 -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/goal.css">
	<link rel="stylesheet" href="/css/sidebar.css">
	<link rel="stylesheet" href="/css/sideNavbar.css">
	<title>BPM</title>
</head>

<body>
<header>
	<nav>
		<div class="nav-left">
			<a th:href="@{/project/projectManagerList}"><button id="exitButton">나가기</button></a>
		</div>
		<div class="nav-center">
			<h1 id="projectName" th:text="${currentProject.getTitle()}"></h1>
		</div>
		<div class="nav-right">
			<p id="loggedInUser" th:text="${sessionUser.getName()}"></p>
		</div>
	</nav>
</header>
<aside class="sidebar">
	<ul>
		<div class="menu">
			<ul>
				<li><a href="#">홈</a></li>
				<li><a th:href="@{/project/goals}">작업</a></li>
				<li><a href="#">수신함</a></li>
			</ul>
		</div>
	</ul>
	<ul>
		<div class="user-list">
			<h2>프로젝트 멤버</h2>
			<ul th:each="member : ${joinUsers}">
				<li th:text="${member.getName()}"></li>
			</ul>
		</div>
		<div>
			<button id="inviteButton">Invite Members</button>
		</div>
	</ul>
</aside>
<div class="main-text">작업</div>

<div class="main">
	<div class="main-nav">
		<ul>
			<li><a href="#">목표</a></li>
			<li><a href="#">할 일</a></li>
			<li><a href="#">문서</a></li>
			<li><a href="#">일정</a></li>
		</ul>
	</div>
</div>

<div class="content">
	<div class="work">
		<table>
			<div class="table-head-list">
				<h2 class="table-h2">목표 리스트</h2>
				<div class="button-section">
					<a th:href="@{/project/head/create}"><button th:if="${auth == 1}" class="createbutton">새로 만들기</button></a>
				</div>
			</div>
			<thead>
			<tr>
				<th class="table-name">목표 이름</th>
				<th>마감 기한</th>
				<th>상태</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="head : ${headDtoList}">
				<td><a th:href="@{/project/goal/headView/{id}(id=${head.getHeadId()})}" th:text="${head.getTitle()}"></a></td>
				<td th:text="${#dates.format(head.getEndDay(), 'yyyy-MM-dd')}"></td>
				<td th:if="${head.getCompletion() == 1}">완료</td>
				<td th:if="${head.getCompletion() == 0}">진행중</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</body>

</html>