<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/goal-create.css">
	<script src="https://kit.fontawesome.com/16dd1d1568.js" crossorigin="anonymous"></script>
	<title>BPM</title>
	<script th:inline="javascript">
		const message = /*[[${message}]]*/ '';
		if (message !== null) {
			alert(message);
		}
		
		function createHead_check() {
			var title = document.getElementById("title");
			var discription = document.getElementById("discription");
			var startDay = document.getElementById("startDay");
			var endDay = document.getElementById("endDay");
			/*yyyy--mm-dd 정규식*/
			var regDate = new RegExp("^\\d{4}\\-(0[1-9]|1[012])\\-(0[1-9]|[12][0-9]|3[01])$");
			
			if (title.value == "") {
				alert("목표 제목을 입력해주십시오.");
				title.focus();
				return false;
			}
			;
			
			if (startDay.value == "") {
				alert("시작기한을 입력해주십시오.");
				startDay.focus();
				return false;
			} else if (!regDate.test(startDay.value)) {
				alert("연-월-일 형식으로 입력해주십시오.")
				startDay.focus();
				return false;
			}
			
			if (deadline.value == "") {
				alert("마감기한을 입력해주십시오.");
				deadline.focus();
				return false;
			} else if (!regDate.test(deadline.value)) {
				alert("연-월-일 형식으로 입력해주십시오.")
				deadline.focus();
				return false;
			}
			
			
			document.createHead_form.submit();
		}
	</script>
</head>

<body>
<div class="container">
	<div class="head-container">
		<a href="/project/goals" class="back-button">
			<i class="fa-solid fa-angle-left"></i>
		</a>
		<h1>목표 생성</h1>
	</div>
	<form name="createHead_form" action="/project/goal/createHead" method="post" class="form-section">
		<div class="horizon-divider"></div>
		<div class="create-goal">
			<div class="label-detail">
				<label class="label" for="title">목표 이름</label>
			</div>
			<div class="input-detail">
				<input name="title" class="input-box" id="title" type="text" placeholder="목표 이름 입력">
			</div>
		</div>
		
		<div class="create-goal">
			<div class="label-detail">
				<label class="label" for="discription">목표 설명</label>
			</div>
			<div class="input-detail">
                    <textarea name="discription" id="discription" class="detail-input-box" ols="20" rows="10"
							  placeholder="설명"></textarea>
			</div>
		</div>
		
		<div class="create-goal">
			<div class="label-detail">
				<label class="label" for="startDay">시작일자</label>
			</div>
			<div class="input-detail">
				<input name="startDay" class="input-box" id="startDay" type="text" placeholder="0000-00-00 (연 월 일)">
			</div>
		</div>
		
		<div class="create-goal">
			<div class="label-detail">
				<label class="label" for="deadline">마감기한</label>
			</div>
			<div class="input-detail">
				<input name="deadline" class="input-box" id="deadline" type="text" placeholder="0000-00-00 (연 월 일)">
			</div>
		</div>
		
		<div class="horizon-divider"></div>
		<div class="footer">
			<button type="button" class="footer-btn" onclick="createHead_check()">생성</button>
			<button type="reset" class="footer-btn2">초기화</button>
		</div>
	</form>
</div>

</body>

</html>