<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/goalDetail.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/sideNavbar.css">
    <title>BPM</title>
</head>

<body>
<header>
    <nav>
        <div class="nav-left">
            <a th:href="@{/project/projectManagerList}"><button id="exitButton">나가기</button></a>
        </div>
        <div class="nav-center">
            <h1 id="projectName" th:text="${currentProject.getTitle()}"></h1>
        </div>
        <div class="nav-right">
            <p id="loggedInUser" th:text="${sessionUser.getName()}"></p>
        </div>
    </nav>
</header>
<aside class="sidebar">
    <ul>
        <div class="menu">
            <ul>
                <li><a href="#">홈</a></li>
                <li><a th:href="@{/project/goals}">작업</a></li>
                <li><a href="#">수신함</a></li>
            </ul>
        </div>
    </ul>
    <ul>
        <div class="user-list">
            <h2>프로젝트 멤버</h2>
            <ul th:each="member : ${joinUsers}">
                <li th:text="${member.getName()}"></li>
            </ul>
        </div>
        <div>
            <button id="inviteButton">Invite Members</button>
        </div>
    </ul>
</aside>
<div class="main-text">작업</div>

<div class="main">
    <div class="main-nav">
        <ul>
            <li><a href="#">목표</a></li>
            <li><a href="#">할 일</a></li>
            <li><a href="#">문서</a></li>
            <li><a href="#">일정</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="left-pane">
        <h1 class="post-title" th:text="${currentProject.getTitle()}"></h1>
        <p class="post-content" th:text="${currentProject.getSubtitle()}">
        </p>
    </div>
    <div class="right-pane">
        <div class="date-info">
            <p th:text="'시작기한 : ' + ${#dates.format(currentProject.getStartDay(), 'yyyy-MM-dd')}"></p>
            <p th:text="'마감기한 : ' + ${#dates.format(currentProject.getEndDay(), 'yyyy-MM-dd')}"></p>
        </div>
        <div class="buttons">
            <button class="edit-button" th:if="${auth == 1}">목표 수정</button>
            <button class="delete-button" th:if="${auth == 1}">목표 삭제</button>
        </div>
        <div class="related-tasks">
            <h2>Related Tasks</h2>
            <ul class="task-list" th:each="work : ${workDtoList}">
                <li><a href="#" th:text="${work.getTitle()}"></a></li>
            </ul>
        </div>
    </div>
</div>
</body>

</html>