<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/sidebar.css">
	<link rel="stylesheet" href="/css/sideNavbar.css">
	<link rel="stylesheet" href="/css/goalDetail.css">
	<title>BPM</title>
</head>

<body>
<header>
	<nav>
		<div class="nav-left">
			<a id="exitButton" href="/project/projectAllList">나가기</a>
		</div>
		<div class="nav-center">
			<h1 id="projectName" th:text="${projectDto.getTitle()}"></h1>
		</div>
		<div class="nav-right">
			<p id="loggedInUser" th:text="${sessionUser.getName()}"></p>
		</div>
	</nav>
</header>
<aside class="sidebar">
	<ul>
		<div class="menu">
			<ul>
				<li><a th:href="@{/project/main}">홈</a></li>
				<li class="menu-select"><a href="/project/goals">목표</a></li>
				<li><a href="/project/works">작업</a></li>
				<li><a href="/project/document">문서</a></li>
				<li><a href="/project/calender">일정</a></li>
				<li><a href="/project/recvMessageList">수신함</a></li>
			</ul>
		</div>
	</ul>
	<ul>
		<div class="user-list">
			<h2>프로젝트 멤버</h2>
			<ul th:each="users : ${joinUsers}">
				<li th:text="${users.getName()}"></li>
			</ul>
		</div>
		<div>
			<a href="/user/search">
				<button id="inviteButton">Invite Members</button>
			</a>
		</div>
	</ul>
</aside>

<div class="main">
	<div class="sub-nav">
		<ul class="sub-navbar">
			<li class="sub-nav-item"><a href="/project/goals">리스트로 돌아가기</a></li>
			</li>
		</ul>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="left-pane">
			<div class="title-section">
				<h1 class="post-title" th:text="${headDto.getTitle()}">title</h1>
				<a class="edit-button" th:href="@{/project/goal/head/edit/{id}(id=${headDto.getHeadId()})}">Edit</a>
				<a class="delete-button"
				   th:href="@{/project/goal/head/delete/{id}(id=${headDto.getHeadId()})}">Delete</a>
			</div>
			<div class="horizon-divider"></div>
			<div class="post-content" th:text="${headDto.getDiscription()}">
			</div>
			<div class="horizon-divider"></div>
			<div class="related-tasks">
				<h2>연결된 작업</h2>
				<ul class="task-list" th:each="work : ${workDtoList}">
					<li><a th:href="@{/project/work/detail/{id}(id=${work.getWorkId()})}"
						   th:text="${work.getTitle()}"></a></li>
				</ul>
			</div>
		</div>
		<div class="right-pane">
			<h3>담당자 </h3>
			<div th:each="user : ${chargeUser}">
				<p th:text="${user}"></p>
			</div>
			<div class="horizon-divider"></div>
			<div class="buttons">
				<a th:href="@{/project/head/completion/change/{id}(id=${headDto.headId})}">
					<button class="right-button" th:if="${auth == 1 && !(headDto.completion == 1)}">완료로 표시
					</button>
				</a>
				<a th:href="@{/project/head/completion/change/{id}(id=${headDto.headId})}">
					<button class="right-button" th:if="${auth == 1 && !(headDto.completion == 0)}">진행중으로 표시
					</button>
				</a>
				<button class="right-button" onclick="location.href='/project/work/create'">작업 만들기</button>
			</div>
			<div class="horizon-divider"></div>
			<div class="date-info">
				<p th:text="'시작기한 : ' + ${#dates.format(headDto.getStartDay(), 'yyyy-MM-dd')}"></p>
				<p th:text="'마감기한 : ' + ${#dates.format(headDto.getEndDay(), 'yyyy-MM-dd')}"></p>
			</div>
		</div>
	</div>
</div>
</body>

</html>
</html>