<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/goal-create.css">
  <script src="../js/documentEntityList.js"></script>
  <title>Border Project Manager</title>
  <script th:inline="javascript">
    const message = /*[[${message}]]*/ '';
    if (message !== null) {
      alert(message);
    }
    function editHead_check() {
      var title = documentEntity.getElementById("title");
      var discription = documentEntity.getElementById("discription");
      var startDay = documentEntity.getElementById("startDay");
      var endDay = documentEntity.getElementById("deadline");
      /*yyyy--mm-dd 정규식*/
      var regDate = new RegExp("^\\d{4}\\-(0[1-9]|1[012])\\-(0[1-9]|[12][0-9]|3[01])$");

      if (title.value == "") {
        alert("목표 제목을 입력해주십시오.");
        title.focus();
        return false;
      };

      if (startDay.value == "") {
        alert("시작기한을 입력해주십시오.");
        startDay.focus();
        return false;
      } else if (!regDate.test(startDay.value)) {
        alert("연-월-일 형식으로 입력해주십시오.")
        startDay.focus();
        return false;
      }

      if (endDay.value == "") {
        alert("마감기한을 입력해주십시오.");
        endDay.focus();
        return false;
      } else if (!regDate.test(endDay.value)) {
        alert("연-월-일 형식으로 입력해주십시오.")
        endDay.focus();
        return false;
      }


      documentEntity.editHead_form.submit();
    }
  </script>
</head>

<body>
<div class="container">
  <div class="header">
    <a href="/project/goals" class="back-button"> < </a>
    <h1>상위 목표 수정</h1>
  </div>
  <form name="editHead_form" action="/project/head/edit" method="post">
    <div class="create-goal">
      <div class="label-detail">
        <label class="label" for="title">목표 이름</label>
        <div class="essential">*</div>
      </div>
      <div class="input-detail">
        <input name="title" class="input-box" id="title" type="text" th:value="${headDto.title}">
      </div>
    </div>

    <div class="create-goal">
      <div class="label-detail">
        <label class="label" for="discription">목표 설명</label>
      </div>
      <div class="input-detail">
                <textarea name="discription" class="detail-input-box"
                          id="discription" cols="20" rows="10" th:text="${headDto.discription}">
                </textarea>
      </div>
    </div>

    <div class="create-goal">
      <div class="label-detail">
        <label class="label" for="startDay">시작일자</label>
      </div>
      <div class="input-detail">
        <input name="startDay" class="input-box" id="startDay" type="text"
               th:value="${#dates.format(headDto.startDay, 'yyyy-MM-dd')}">
      </div>
    </div>

    <div class="create-goal">
      <div class="label-detail">
        <label class="label" for="deadline">마감 기한</label>
      </div>
      <div class="input-detail">
        <input name="deadline" class="input-box" id="deadline" type="text"
               th:value="${#dates.format(headDto.endDay, 'yyyy-MM-dd')}">
      </div>
    </div>
    <input th:name="headId" th:value="${headDto.headId}" type="hidden">
    <div class="horizon-divider"></div>
    <div class="footer">
      <button type="button" class="footer-btn" onclick="editHead_check()">저장</button>
      <button type="reset" class="footer-btn">초기화</button>
    </div>
  </form>
</div>

</body>

</html>