<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Border Project Manager</title>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css'>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css'>
	<link rel="stylesheet" href="/css/nav.css">
	<link rel="stylesheet" href="/css/index.css">
	
	<!-- Java Script 다수 포함-->
	<script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
	<script src="/js/index.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-custom navbar-mainbg">
	<a class="navbar-brand navbar-logo" href="#"><img class="navbar-logo-image" src="/img/logo.png">BPM</a>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="user/login">Login</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/user/join">Join</a>
			</li>
		</ul>
	</div>
</nav>
<div class="main-container">
	<section class="top-logo-wrap">
		<img style="height: 300px; width: 300px;" src="/img/logo_color.png">
		<div class="home-title">
			<span>Block Project Manager</span>
		</div>
	</section>
	
	<section class="separator-wrap">
		<div class="separator"></div>
	</section>
	
	<section class="mid-content-wrap">
		<div class="content">
			<div class="content-discription">
				<div class="content-title">
					<h1> 팀원들과 공유하는 </h1>
					<h1> 코드 프로젝트 </h1>
				</div>
				<h4>팀원들과 프로젝트 진행도를 </h4>
				<h4>공유하고 협업해요.</h4>
			</div>
			<div class="img-wrap">
				<img src="img/sharedproject.png" alt="">
			</div>
		</div>
		
		<div class="content">
			<div class="img-wrap">
				<img src="img/withfriends.png" alt="">
			</div>
			<div class="content-discription">
				<div class="content-title">
					<h1>진행하고 있는 프로젝트를</h1> 
					<h1>한눈에 확인하고 정리해요</h1>
				</div>
				<h4 style="color: #5161CE;">템플릿 엔진 기능 통해 팀원과 소통하며 <br> 해야할 작업을 관리해보세요.</h4>
			</div>
		</div>
	</section>
</div>
</body>
</html>