<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Border Project Manager</title>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css'>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css'>
	<link rel="stylesheet" href="/css/inviteList.css">
	<link rel="stylesheet" href="/css/nav.css">
	
	
	<!-- partial -->
	<script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
	<script src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js'></script>
	<script src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js'></script>
	<script src="/js/login.js"></script>
	<script>
		const loremIpsum = document.getElementById("lorem-ipsum")
		fetch("https://baconipsum.com/api/?type=all-meat&paras=200&format=html")
				.then(response => response.text())
				.then(result => loremIpsum.innerHTML = result)
	</script>

</head>

<body>

<nav class="navbar navbar-expand-custom navbar-mainbg">
	<a class="navbar-brand navbar-logo" href="#"><img class="navbar-logo-image" src="../img/logo.png">BPM</a>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" th:text="${user.name}"></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/user/account">마이페이지</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/user/logout">로그아웃</a>
			</li>
		</ul>
	</div>
</nav>

<div class="container">
	<div class="top-button">
		<div class="left">
			<a class="project-select" href="/project/projectManagerList">내 프로젝트</a>
			<a class="project-select" href="/project/projectAllList">다른 프로젝트</a>
		</div>
		<div class="right">
			<a href="/project/inviteList" class="invite">
				<button type="button" name="write" class="write-button">프로젝트 초대</button>
				<div class="head-img" th:if="${request == true}"><img src="/img/warning.png" alt=""></div>
			</a>
			<a href="/project/create">
				<button type="button" name="write" class="write-button2">새 프로젝트</button>
			</a>
		</div>
	</div>
	
	
	<div>
		<table>
			<thead>
			<tr>
				<th class="job-name">발신자</th>
				<th class="job-deadline">프로젝트명</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="requests : ${requestList}">
				<td th:text="${requests.sendUUID.getName()}"></td>
				<td th:text="${requests.getProjoectIdToRequest().getTitle()}"></td>
				<td>
					<div class="btn-wrap">
						<a th:href="@{/requestResponse/{sendUser}/{recvUser}/{project}/{acceptable}(
            sendUser=${requests.sendUUID.getUuid()}, recvUser=${requests.recvUUID.getUuid()},
            project=${requests.getProjoectIdToRequest().getProjectId()}, acceptable=${true}
            )}">
							<button class="accept-btn">수락</button>
						</a>
						<a th:href="@{/requestResponse/{sendUser}/{recvUser}/{project}/{acceptable}(
            sendUser=${requests.sendUUID.getUuid()}, recvUser=${requests.recvUUID.getUuid()},
            project=${requests.getProjoectIdToRequest().getProjectId()}, acceptable=${false}
            )}">
							<button class="refuse-btn">거절</button>
						</a>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>

</div>
</body>

</html>