<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Border Project Manager</title>
	<link rel="stylesheet" href="/css/login.css">
	<script th:inline="javascript">
		const message = /*[[${message}]]*/ '';
		if (message !== null) {
			alert(message);
		}
		function loginform_check() {
			var email = document.getElementById("email");
			var password = document.getElementById("password");
			
			if (email.value == "") {
				alert("이메일을 입력해주십시오.");
				email.focus();
				return false;
			};
			
			if (password.value == "") {
				alert("비밀번호를 입력해주십시오.");
				password.focus();
				return false;
			};
			
			document.login_form.submit();
			event.preventDefault();
		}
	
	</script>
</head>
<body>
<div class="page-container">
	<form name="login_form" action="/user/dologin" method="post"  onsubmit="return false">
		<div class="login-form-container shadow">
			<div class="login-form-left-side">
				<div class="top-logo-wrap">
					<img src="/img/logo.png" alt="">
				</div>
				<h1>BPM</h1>
			</div>
			<div class="login-form-right-side">
				<h1>Login</h1>
				<div class="login-input-container">
					<div class="login-input-wrap input-id">
						<input placeholder="Email" type="text" name="email" id="email">
					</div>
					<div class="login-input-wrap input-password">
						<input placeholder="Password" type="password" name="password" id="password">
					</div>
				</div>
				<div class="login-btn-wrap">
					<button type="button" class="login-btn" onclick="loginform_check()">Login</button>
					<div class="login-btn-wrap2">
						<a href="/user/join">회원가입</a> &nbsp &nbsp&nbsp
						<a href="/index"> 나가기 </a>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
</body>
</html>