<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/messageDetail.css">
	<link rel="stylesheet" href="/css/sidebar.css">
	<link rel="stylesheet" href="/css/sideNavbar.css">
	<title>BPM</title>
</head>

<body>
<header>
	<nav>
		<div class="nav-left">
			<button id="exitButton">나가기</button>
		</div>
		<div class="nav-center">
			<h1 id="projectName">Project Name</h1>
		</div>
		<div class="nav-right">
			<p id="loggedInUser">사용자 이름</p>
		</div>
	</nav>
</header>
<aside class="sidebar">
	<ul>
		<div class="menu">
			<ul>
				<li><a href="#">홈</a></li>
				<li class="menu-select"><a href="#">작업</a></li>
				<li><a href="#">수신함</a></li>
			</ul>
		</div>
	</ul>
	<ul>
		<div class="user-list">
			<h2>프로젝트 멤버</h2>
			<ul>
				<li>User 1</li>
				<li>User 2</li>
				<li>User 3</li>
			</ul>
		</div>
		<div>
			<button id="inviteButton">Invite Members</button>
		</div>
	</ul>
</aside>
<div class="main">
	<div class="sub-nav">
		<ul class="sub-navbar">
			<li class="sub-nav-item-active"><a class="active" href="#">수신함</a></li>
			<li class="sub-nav-item"><a href="#">발신함</a></li>
			</li>
		</ul>
	</div>
</div>

<div class="message-container">
	<div class="message-header">
		<h1>Message Title</h1>
	</div>
	<div class="message-content">
		<div class="message-info">
			<p class="message-sender">Sender: <span>John Doe</span></p>
			<p class="message-date">Received on: <span>Date & Time</span></p>
		</div>
		<div class="message-text">
			<p>This is the content of the received message. Lorem ipsum dolor sit amet, consectetur
				adipiscing
				elit. Curabitur sit amet elit ac justo euismod vehicula vel at nulla.</p>
		</div>
	</div>
</div>
</body>

</html>