<!DOCTYPE html>
<html lang="en">
<!-- 목표 리스트 창 -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/goal.css">
	<link rel="stylesheet" href="/css/sidebar.css">
	<link rel="stylesheet" href="/css/sideNavbar.css">
	<title>BPM</title>
</head>

<body>
<header>
	<nav>
		<div class="nav-left">
			<button id="exitButton">나가기</button>
		</div>
		<div class="nav-center">
			<h1 id="projectName">Project Name</h1>
		</div>
		<div class="nav-right">
			<p id="loggedInUser">사용자 이름</p>
		</div>
	</nav>
</header>
<aside class="sidebar">
	<ul>
		<div class="menu">
			<ul>
				<li><a href="#">홈</a></li>
				<li class="menu-select"><a href="#">목표</a></li>
				<li><a href="#">작업</a></li>
				<li><a href="#">문서</a></li>
				<li><a href="#">일정</a></li>
				<li><a href="#">수신함</a></li>
			</ul>
		</div>
	</ul>
	<ul>
		<div class="user-list">
			<h2>프로젝트 멤버</h2>
			<ul>
				<li>User 1</li>
				<li>User 2</li>
				<li>User 3</li>
			</ul>
		</div>
		<div>
			<button id="inviteButton">Invite Members</button>
		</div>
	</ul>
</aside>

<div class="main">
	<div class="sub-nav">
		<ul class="sub-navbar">
			<li class="sub-nav-item"><a href="#">전체 목표</a></li>
			<li class="sub-nav-item-active"><a class="active" href="#">나의 목표</a></li>
			</li>
		</ul>
	</div>
</div>

<div class="content">
	<div class="work">
		<table>
			<div class="table-head-list">
				<h2 class="table-h2">목표 > 나의 목표</h2>
				<div class="button-section"><button class="createbutton">새로 만들기</button></div>
			</div>
			<thead>
			<th>
				목표 이름
			</th>
			<th>마감 기한</th>
			<th>진행 상태</th>
			</thead>
			<tbody>
			<tr>
				<td class="table-name"><a>x</a></td>
				<td>x</td>
				<td>완료</td>
			</tr>
			
			<tr>
				<td><a>x</a></td>
				<td>x</td>
				<td>완료</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</body>

</html>