<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 목표 리스트 창 -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/goal.css">
	<link rel="stylesheet" href="/css/sidebar.css">
	<link rel="stylesheet" href="/css/sideNavbar.css">
	<title>BPM</title>
</head>


<body>
<header>
	<nav>
		<div class="nav-left">
			<a id="exitButton" href="/project/projectManagerList">나가기</a>
		</div>
		<div class="nav-center">
			<h1 id="projectName" th:text="${projectDto.getTitle()}"></h1>
		</div>
		<div class="nav-right">
			<p id="loggedInUser" th:text="${sessionUser.getName()}"></p>
		</div>
	</nav>
</header>
<aside class="sidebar">
	<ul>
		<div class="menu">
			<ul>
				<li><a th:href="@{/project/main}">홈</a></li>
				<li><a href="/project/goals">목표</a></li>
				<li class="menu-select"><a href="/project/works">작업</a></li>
				<li><a href="/project/document">문서</a></li>
				<li><a href="/project/calender">일정</a></li>
				<li><a href="/project/recvMessageList">수신함</a></li>
			</ul>
		</div>
	</ul>
	<ul>
		<div class="user-list">
			<h2>프로젝트 멤버</h2>
			<ul th:each="users : ${joinUsers}">
				<li th:text="${users.getName()}"></li>
			</ul>
		</div>
		<div>
			<a href="/user/search"><button id="inviteButton">Invite Members</button></a>
		</div>
	</ul>
</aside>

<div class="main">
	<div class="sub-nav">
		<ul class="sub-navbar">
			<li class="sub-nav-item-active"><a href="/project/works">전체 작업</a></li>
			<li class="sub-nav-item"><a class="active" href="/project/myWorks">나의 작업</a></li>
			</li>
		</ul>
	</div>
</div>

<div class="content">
	<div class="work">
		<table>
			<div class="table-head-list">
				<h2 class="table-h2">작업 >  전체 작업</h2>
				<div class="button-section"><a href="/project/work/create"><button class="createbutton">새로 만들기</button></a></div>
			</div>
			<thead>
			<th>
				작업 이름
			</th>
			<th>연결된 목표</th>
			<th>마감 기한</th>
			<th>진행 상태</th>
			</thead>
			<tbody>
			<tr th:each="userWorkDto : ${userWorkDtoList}">
				<td class="table-name"><a th:href="@{/project/work/detail/{id}(id=${userWorkDto.getWorkIdToUserWork().getWorkId()})}"
										  th:text="${userWorkDto.getWorkIdToUserWork().getTitle()}"></a></td>
				<td><a
						th:href="@{/project/goal/headView/{id}(id=${userWorkDto.getWorkIdToUserWork().getHeadIdToWork().getHeadId()})}"
						th:text="${userWorkDto.getWorkIdToUserWork().getHeadIdToWork().getTitle()}"></a></td>
				<td th:text="${#dates.format(userWorkDto.getWorkIdToUserWork().getEndDay(), 'yyyy-MM-dd')}"></td>
				<td style="color: #5ea2ec;" class="completion-0" th:if="${userWorkDto.getWorkIdToUserWork().getCompletion() == 0}">진행중</td>
				<td style="color: #66c43c;" class="completion-1" th:if="${userWorkDto.getWorkIdToUserWork().getCompletion() == 1}">완료</td>
				<td style="color: #ff7b26;" class="completion-2" th:if="${userWorkDto.getWorkIdToUserWork().getCompletion() == 2}">계획중</td>
				<td style="color: #f11414;" class="completion-3" th:if="${userWorkDto.getWorkIdToUserWork().getCompletion() == 3}">미완성</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</body>

</html>