<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/projectMain.css">
	<link rel="stylesheet" href="/css/sidebar.css">
	<title>Your Project Management Tool</title>
</head>

<body>
<header>
	<nav>
		<div class="nav-left">
			<a th:href="@{/project/projectManagerList}"><button id="exitButton">나가기</button></a>
		</div>
		<div class="nav-center">
			<h1 id="projectName" th:text="${projectDto.getTitle()}"></h1>
		</div>
		<div class="nav-right">
			<p id="loggedInUser" th:text="${sessionUser.getName()}"></p>
		</div>
	</nav>
</header>
<aside class="sidebar">
	<ul>
		<div class="menu">
			<ul>
				<li><a href="#">홈</a></li>
				<li><a th:href="@{/project/goals}">작업</a></li>
				<li><a href="#">수신함</a></li>
			</ul>
		</div>
	</ul>
	<ul>
		<div class="user-list">
			<h2>프로젝트 멤버</h2>
			<ul th:each="member : ${joinUsers}">
				<li th:text="${member.getName()}"></li>
			</ul>
		</div>
		<div>
			<button id="inviteButton">Invite Members</button>
		</div>
	</ul>
</aside>
<main>
	<div class="project-name" th:text="${projectDto.getTitle()}"></div>
	<!-- <div class="centered-top">
        <div class="project-intro">
            <p class="div-h">Project Introduction</p>
            여기에 프로젝트 설명 데이터 값 넣고 위에 Project Introduction 지우기
            <p class="div-content"></p>
        </div>
    </div> -->
	<hr style="background-color: #0056b3; height: 2px;">
	<!-- 목표 리스트를 띄워줘야하는 부분 -->
	<div class="board" style="margin-top: 3%;">
		<a class="post">
			<article class="post-detail">
				<h1> 멤버 </h1>
				<div class="post-user-child">
					<div class="post-user-div">프로젝트 참여 인원 : </div> &nbsp;
					<div class="post-user-div" th:text="${#lists.size(joinUsers)} + '명'"></div>
				</div>
				<button class="post-button" th:onclick="|location.href='@{/user/search}'|">초대하기</button>
			</article>
		</a>
		<a class="post">
			<article class="post-detail">
				<h1> 목표 </h1>
				<div class="post-user-child1">
					<div class="post-user-list1">
						<div>전체 목표 수</div>
						<div style="text-align: center;" th:text="${#lists.size(headDtoList)}"></div>
					</div>
					<div class="post-user-list2">
						<div>진행 목표 수</div>
						<div style="text-align: center;" th:text="${progressHead}"></div>
					</div>
					<div class="post-user-list3">
						<div>완료 목표 수</div>
						<div style="text-align: center;" th:text="${completeHead}"></div>
					</div>
				</div>
				<button class="post-button">바로가기</button>
			</article>
		</a>
		<a class="post">
			<article class="post-detail">
				<h1> 작업 </h1>
				<div class="post-user-child1">
					<div class="post-user-list1">
						<div>전체 작업 수</div>
						<div style="text-align: center;" th:text="${#lists.size(workDtoList)}"></div>
					</div>
					<div class="post-user-list2">
						<div>진행 작업 수</div>
						<div style="text-align: center;" th:text="${progressWork}"></div>
					</div>
					<div class="post-user-list3">
						<div>완료 작업 수</div>
						<div style="text-align: center;" th:text="${completeWork}"></div>
					</div>
				</div>
				<button class="post-button">바로가기</button>
			</article>
		</a>
		<a class="post">
			<article class="post-detail">
				<h1> 문서 </h1>
				<div class="post-user-child">
					<div class="post-user-div">마지막 문서 편집 시간 : </div> &nbsp;
					<div class="post-user-div">00 00 00</div>
				</div>
				<button class="post-button">바로가기</button>
			</article>
		</a>
	</div>
	</div>
</main>
<script src="script.js"></script>
</body>

</html>