<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Border Project Manager</title>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css'>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css'>
	<link rel="stylesheet" href="/css/projectList.css">
	<link rel="stylesheet" href="/css/nav.css">
	
	
	<!-- partial -->
	<script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
	<script src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js'></script>
	<script src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js'></script>
	<script src="/js/login.js"></script>
	<script>
		const loremIpsum = documentEntity.getElementById("lorem-ipsum")
		fetch("https://baconipsum.com/api/?type=all-meat&paras=200&format=html")
				.then(response => response.text())
				.then(result => loremIpsum.innerHTML = result)
	</script>

</head>

<body>

<nav class="navbar navbar-expand-custom navbar-mainbg">
	<a class="navbar-brand navbar-logo" href="#"><img class="navbar-logo-image" src="../img/logo.png">BPM</a>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" th:text="${user.name}">님</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/user/account">마이페이지</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/user/logout">로그아웃</a>
			</li>
		</ul>
	</div>
</nav>

<div class="container">
	<div class="top-button">
		<div class="left">
			<a class="project-select" href="/project/projectAllList">전체 프로젝트</a>
			<a class="project-select" href="/project/projectManagerList">내 프로젝트</a>
			<a class="project-select" href="/project/projectMemberList">참여 프로젝트</a>
		</div>
		<a class="project-select" href="/project/inviteList" style="padding-left: 10%">프로젝트 초대
			<div class="head-img" th:if="${request == true}"><img src="/img/warning.png" alt=""></div>
		</a>
		<a href="/project/create">
			<button type="button" name="write" id="write-button">새 프로젝트</button>
		</a>
	</div>
	
	<div class="board">
		<div class="board-item" th:if="${memberList != null}" th:each="project : ${memberList}">
			<a th:href="@{/project/{id}(id=${project.projectId})}" class="post">
				<div class="thumbnail">
				</div>
				<article class="post-detail">
					<h1 th:text="${project.title}"></h1>
					<span th:text="${project.subtitle}"></span>
					<div class="post-user" style="padding-top: 30px;">
						<p>만든 날짜 : </p>
						<div th:text="${#dates.format(project.startDay, 'yyyy-MM-dd')}"></div>
					</div>
				</article>
			</a>
		</div>
	</div>
</div>
</body>

</html>