<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/projectMain.css">
	<link rel="stylesheet" href="/css/sidebar.css">
	<link rel="stylesheet" href="/css/sideNavbar.css">
	<title>Your Project Management Tool</title>
</head>


<body>
<header>
	<nav>
		<div class="nav-left">
			<button id="exitButton">나가기</button>
		</div>
		<div class="nav-center">
			<h1 id="projectName">Project Name</h1>
		</div>
		<div class="nav-right">
			<p id="loggedInUser">사용자 이름</p>
		</div>
	</nav>
</header>
<aside class="sidebar">
	<ul>
		<div class="menu">
			<ul>
				<li class="menu-select"><a href="#">홈</a></li>
				<li><a href="#">목표</a></li>
				<li><a href="#">작업</a></li>
				<li><a href="#">문서</a></li>
				<li><a href="#">일정</a></li>
				<li><a href="#">수신함</a></li>
			</ul>
		</div>
	</ul>
	<ul>
		<div class="user-list">
			<h2>프로젝트 멤버</h2>
			<ul>
				<li>User 1</li>
				<li>User 2</li>
				<li>User 3</li>
			</ul>
		</div>
		<div>
			<button id="inviteButton">Invite Members</button>
		</div>
	</ul>
</aside>

<main>
	<div class="project-name"> Project 1</div>
	<hr style="background-color: #0056b3; height: 2px;">
	<!-- 목표 리스트를 띄워줘야하는 부분 -->
	<div class="board" style="margin-top: 3%;">
		<a class="post">
			<article class="post-detail">
				<h1> 멤버 </h1>
				<div class="post-user-child">
					<div class="post-user-div">프로젝트 참여 인원 : </div> &nbsp;
					<div class="post-user-div">00 명</div>
				</div>
				<button class="post-button">초대하기</button>
			</article>
		</a>
		<a class="post">
			<article class="post-detail">
				<h1> 목표 </h1>
				<div class="post-user-child1">
					<div class="post-user-list1">
						<div>전체 목표 수</div>
						<div style="text-align: center;">00</div>
					</div>
					<div class="post-user-list2">
						<div>진행 목표 수</div>
						<div style="text-align: center;">00</div>
					</div>
					<div class="post-user-list3">
						<div>완료 목표 수</div>
						<div style="text-align: center;">00</div>
					</div>
				</div>
				<button class="post-button">바로가기</button>
			</article>
		</a>
		<a class="post">
			<article class="post-detail">
				<h1> 작업 </h1>
				<div class="post-user-child1">
					<div class="post-user-list1">
						<div>전체 작업 수</div>
						<div style="text-align: center;">00</div>
					</div>
					<div class="post-user-list2">
						<div>진행 작업 수</div>
						<div style="text-align: center;">00</div>
					</div>
					<div class="post-user-list3">
						<div>완료 작업 수</div>
						<div style="text-align: center;">00</div>
					</div>
				</div>
				<button class="post-button">바로가기</button>
			</article>
		</a>
		<a class="post">
			<article class="post-detail">
				<h1> 문서 </h1>
				<div class="post-user-child">
					<div class="post-user-div"> 문서 개수 : </div>&nbsp; &nbsp;
					<div class="post-user-div"> 00 &nbsp;개 </div>
				</div>
				<button class="post-button">바로가기</button>
			</article>
		</a>
	</div>
	</div>
</main>
<script src="script.js"></script>
</body>

</html>