<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/sidebar.css">
	<link rel="stylesheet" href="/css/sideNavbar.css">
	<link rel="stylesheet" href="/css/goalDetail.css">
	<title>BPM</title>
</head>

<body>
<header>
	<nav>
		<div class="nav-left">
			<a id="exitButton" href="/project/projectAllList">나가기</a>
		</div>
		<div class="nav-center">
			<h1 id="projectName" th:text="${projectDto.getTitle()}"></h1>
		</div>
		<div class="nav-right">
			<p id="loggedInUser" th:text="${sessionUser.getName()}"></p>
		</div>
	</nav>
</header>
<aside class="sidebar">
	<ul>
		<div class="menu">
			<ul>
				<li><a th:href="@{/project/main}">홈</a></li>
				<li><a href="/project/goals">목표</a></li>
				<li class="menu-select"><a href="/project/works">작업</a></li>
				<li><a href="/project/document">문서</a></li>
				<li><a href="/project/calender">일정</a></li>
				<li><a href="/project/recvMessageList">수신함</a></li>
			</ul>
		</div>
	</ul>
	<ul>
		<div class="user-list">
			<h2>프로젝트 멤버</h2>
			<ul th:each="users : ${joinUsers}">
				<li th:text="${users.getName()}"></li>
			</ul>
		</div>
		<div>
			<a href="/user/search">
				<button id="inviteButton">Invite Members</button>
			</a>
		</div>
	</ul>
</aside>

<div class="main">
	<div class="sub-nav">
		<ul class="sub-navbar">
			<li class="sub-nav-item"><a href="/project/works">리스트로 돌아가기</a></li>
			</li>
		</ul>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="left-pane">
			<div class="title-section">
				<h1 class="post-title" th:text="${workDto.getTitle()}">title</h1>
				<a class="edit-button" th:href="@{/project/goal/work/edit/{id}(id=${workDto.getWorkId()})}">Edit</a>
				<a class="delete-button"
				   th:href="@{/project/goal/work/delete/{id}(id=${workDto.getWorkId()})}">Delete</a>
			</div>
			<div class="horizon-divider"></div>
			<p class="post-content" th:text="${workDto.getDiscription()}">
			</p>
			<div class="horizon-divider"></div>
			
			<div class="comment-section">
				<div class="comment-write-section">
					<div class="comment-count" th:text="${listNum} + '개의 의견'">댓글</div>
					<form action="/workDetail/addComment" method="post">
						<textarea name="comment" class="comment-write" placeholder="의견을 남겨주세요."></textarea>
						<br>
						<button type="submit" class="submit-btn">작성</button>
						<input th:name="workId" th:value="${workDto.workId}" type="hidden">
					</form>
				</div>
				<div class="comment-read-section">
					<div class="comment" th:each="comment:${CommentList}">
						<div class="comment-content-head">
							<div class="comment-user-name" th:text="${comment.userIdToComment.getName()} + ' 님'">
							</div>
							<!--                     <button onclick="" class="comment-head-button">수정</button>-->
							<a th:href="@{/workDetail/commentDelete/{cid}(cid=${comment.getWorkCommentId()})}"
							   class="comment-head-button">
								삭제</a>
						</div>
						<div class="comment-content" th:text="${comment.comment}">댓글 내용</div>
						<div class="horizon-divider"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="right-pane">
			<h3>담당자 </h3>
			<div th:each="user : ${userWorkDtoList}">
				<p th:text="${user.getUserIdToUserWork().getName()}"></p>
			</div>
			<div class="horizon-divider"></div>
			<div class="date-info">
				<p th:text="'시작기한 : ' + ${#dates.format(workDto.getStartDay(), 'yyyy-MM-dd')}"></p>
				<p th:text="'마감기한 : ' + ${#dates.format(workDto.getEndDay(), 'yyyy-MM-dd')}"></p>
			</div>
			<div class="horizon-divider"></div>
			<div class="buttons">
				<a th:href="@{/project/work/completion/change/{id}(id=${workDto.workId})}">
					<button class="right-button" th:if="${auth == 1 && !(workDto.completion == 1)}">완료로 표시</button>
				</a>
				<a th:href="@{/project/work/completion/change/{id}(id=${workDto.workId})}">
					<button class="right-button" th:if="${auth == 1 && !(workDto.completion == 0)}">진행중으로 표시</button>
				</a>
			</div>
			<div class="horizon-divider"></div>
			<div class="related-tasks">
				<h2>연결된 목표</h2>
				<ul class="task-list">
					<li><a th:href="@{/project/goal/headView/{id}(id=${workDto.getHeadIdToWork().getHeadId()})}"
						   th:text="${workDto.getHeadIdToWork().getTitle()}"></a></li>
				</ul>
			</div>
			<div class="horizon-divider"></div>
			<div class="related-tasks">
				<h2>연결된 문서</h2>
				<ul class="task-list" th:each="document : ${documentList}">
					<li><a th:href="@{/document/write?id={id}(id=${document.getDocumentId()})}"
						   th:text="${document.getTitle()}"></a></li>
				</ul>
			</div>
			<div class="horizon-divider"></div>
			<form th:if="${check}" action="/document/addDocument" method="post">
				<button type="submit" class="sub-create-button">문서 만들기</button>
				<input th:hidden="true" th:name="workId" th:value="${workDto.getWorkId()}">
			</form>
		</div>
	</div>
</div>
</body>

</html>