<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Border Project Manager</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/workEdit.css">
	
	<script th:inline="javascript">
		const message = /*[[${message}]]*/ '';
		if (message !== null) {
			alert(message);
		}
		
		function createDetail_check() {
			var title = document.getElementById("title");
			var discription = document.getElementById("discription");
			var startDay = document.getElementById("startDay");
			var deadline = document.getElementById("deadline");
			/*yyyy--mm-dd 정규식*/
			var regDate = new RegExp("^\\d{4}\\-(0[1-9]|1[012])\\-(0[1-9]|[12][0-9]|3[01])$");
			
			if (title.value == "") {
				alert("목표 제목을 입력해주십시오.");
				title.focus();
				return false;
			}
			;
			
			if (startDay.value == "") {
				alert("시작기한을 입력해주십시오.");
				startDay.focus();
				return false;
			} else if (!regDate.test(startDay.value)) {
				alert("연-월-일 형식으로 입력해주십시오.")
				startDay.focus();
				return false;
			}
			
			if (deadline.value == "") {
				alert("마감기한을 입력해주십시오.");
				deadline.focus();
				return false;
			} else if (!regDate.test(deadline.value)) {
				alert("연-월-일 형식으로 입력해주십시오.")
				deadline.focus();
				return false;
			}
			
			
			document.createDetail_form.submit();
		}
	</script>
</head>

<body>
<div class="container">
	<div class="header">
		<a href="javascript:history.back(-1)" class="back-button"> < </a>
		<h1>작업 편집</h1>
	</div>
	<form name="createDetail_form" action="/project/work/edit" method="post">
		<div class="create-goal">
			<div class="label-detail">
				<label class="label" for="headId">연결할 목표</label>
			</div>
			<div class="select">
				<select style="border: none;" id="headId" name="headId" th:if="${headDtoList != null}">
					<option th:each="headDto : ${headDtoList}"
							th:text="${headDto.title} + ' (' + ${#dates.format(headDto.getStartDay(), 'yyyy-MM-dd')}
							 + ' ~ ' + ${#dates.format(headDto.getEndDay(), 'yyyy-MM-dd')} + ')'"
							th:value="${headDto.headId}"></option>
				</select>
			</div>
		</div>

		<div class="create-goal">
			<div class="label-detail">
				<label class="label" for="title">작업 이름</label>
				<div class="essential">*</div>
			</div>
			<div class="input-detail">
				<input th:value="${workDto.getTitle()}"
					   name="title" class="input-box" id="title" type="text" placeholder="작업 이름 입력">
			</div>
		</div>
		
		<div class="create-goal">
			<div class="label-detail">
				<label class="label" for="discription">작업 설명</label>
			</div>
			<div class="input-detail">
                <textarea name="discription" class="detail-input-box" th:text="${workDto.getDiscription()}"
						  id="discription" cols="20" rows="10" placeholder="설명"></textarea>
			</div>
		</div>
		
		<div class="create-goal">
			<div class="label-detail">
				<label class="label" for="startDay">시작 일자</label>
			</div>
			<div class="input-detail">
				<input name="startDay" class="input-box" id="startDay" type="text" placeholder="0000-00-00 (연 월 일)"
					   th:value="${#dates.format(workDto.getStartDay(), 'yyyy-MM-dd')}">
			</div>
		</div>
		
		<div class="create-goal">
			<div class="label-detail">
				<label class="label" for="deadline">마감 일자</label>
			</div>
			<div class="input-detail">
				<input name="deadline" class="input-box" id="deadline" type="text" placeholder="0000-00-00(연 월 일)"
					th:value="${#dates.format(workDto.getEndDay(), 'yyyy-MM-dd')}">
			</div>
		</div>
		<div class="create-goal">
			<div class="label-detail">
				<label class="label" for="create-goal-input5">작업 담당자</label>
			</div>
			<div class="search-input-detail">
				<ul id="create-goal-input5">
					<li th:each="userDto : ${userDtoList}" th:object="${userDtoList}">
						<input type="checkbox" th:id="${userDto.getName()}" th:name="chargeUsers" th:value="${userDto.getUuid()}">
						<label th:for="${userDto.name}" th:text="${userDto.name}" class="user-label"></label>
						<div class="check"></div>
					</li>
				</ul>
			</div>
		</div>

		<input type="hidden" th:name="workId" th:value="${workDto.getWorkId()}">
		<div class="horizon-divider"></div>
		<div class="footer">
			<button type="button" class="footer-btn" onclick="createDetail_check()">수정</button>
			<button type="reset" class="footer-btn">초기화</button>
		</div>
	</form>
</div>

</body>

</html>