<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/goalDetail.css">
	<link rel="stylesheet" href="/css/sidebar.css">
	<link rel="stylesheet" href="/css/sideNavbar.css">
	<title>BPM</title>
</head>

<body>
<header>
	<nav>
		<div class="nav-left">
			<button id="exitButton">나가기</button>
		</div>
		<div class="nav-center">
			<h1 id="projectName">Project Name</h1>
		</div>
		<div class="nav-right">
			<p id="loggedInUser">사용자 이름</p>
		</div>
	</nav>
</header>

<aside class="sidebar">
	<ul>
		<div class="menu">
			<ul>
				<li><a href="#">홈</a></li>
				<li class="menu-select"><a href="#">작업</a></li>
				<li><a href="#">수신함</a></li>
			</ul>
		</div>
	</ul>
	<ul>
		<div class="user-list">
			<h2>프로젝트 멤버</h2>
			<ul>
				<li>User 1</li>
				<li>User 2</li>
				<li>User 3</li>
			</ul>
		</div>
		<div>
			<button id="inviteButton">Invite Members</button>
		</div>
	</ul>
</aside>
<div class="main-text">작업</div>

<div class="main">
	<div class="main-nav">
		<ul>
			<li><a href="#">목표</a></li>
			<li><a href="#">할 일</a></li>
			<li><a href="#">문서</a></li>
			<li><a href="#">일정</a></li>
		</ul>
	</div>
</div>

<div class="container">
	<div class="left-pane">
		<input th:hidden="true" th:name="workId" th:value="${workDto.getWorkId()}"/>
		<h1 class="post-title" th:text="${workDto.getTitle()}"></h1>
		<p class="post-content" th:text="${workDto.getDiscription()}">
		</p>
		<div class="horizon-divider"></div>
		
		<div class="comment-section">
			<div class="comment-write-section">
				<div class="comment-count" th:text="${listNum} + '개의 의견'">댓글</div>
				<form action="/workDetail/addComment" method="post">
					<textarea name="comment" class="comment-write" placeholder="의견을 남겨주세요."></textarea>
					<br>
					<button type="submit" class="submit-btn">작성</button>
					<input th:name="workId" th:value="${workDto.workId}" type="hidden">
				</form>
			</div>
			<div class="comment-read-section">
				<div class="comment" th:each="comment:${CommentList}">
					<div class="comment-content-head">
						<div class="comment-user-name" th:text="${comment.userIdToComment.getName()} + ' 님'">
						</div>
						<!--                     <button onclick="" class="comment-head-button">수정</button>-->
						<a th:href="@{/workDetail/commentDelete/{cid}(cid=${comment.getWorkCommentId()})}"
						   class="comment-head-button">
							삭제</a>
					</div>
					<div class="comment-content" th:text="${comment.comment}">댓글 내용</div>
					<div class="horizon-divider-semi"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="right-pane">
		<div class="date-info"><p
				th:text="'시작기한 : ' + ${#dates.format(workDto.getStartDay(), 'yyyy-MM-dd')}"></p>
			<p th:text="'마감기한 : ' + ${#dates.format(workDto.getEndDay(), 'yyyy-MM-dd')}"></p>
		
		</div>
		<div class="related-tasks">
			<h2>작성된 문서</h2>
			<ul class="task-list" th:each="workDocument : ${workDocumentDtoList}">
				<li><a th:href="@{/document/work/view/{id}(id=${workDto.getWorkId()})}"

						th:text="${workDocument.getDocumentIdToWorkDocumentEntity().getTitle()}"></a></li>
			</ul>
		</div>
		<div class="buttons">
			<a th:href="@{document/addDocument}"><button class="edit-button">문서 작성</button> </a>
			<input th:hidden="true" th:name="workId" th:value="${workDto.getWorkId()}"/>
			<button class="edit-button">작업 수정</button>
			<button class="delete-button">작업 삭제</button>
			<a th:href="@{/project/work/completion/change/{id}(id=${workDto.workId})}">
				<button class="edit-button" th:if="${auth == 1 && workDto.completion == 0}">완료로 표시</button>
			</a>
			<a th:href="@{/project/work/completion/change/{id}(id=${workDto.workId})}">
				<button class="edit-button" th:if="${auth == 1 && workDto.completion == 1}">진행중으로 표시</button>
			</a>
		</div>
	</div>
</div>
</body>

</html>